i2t_HackBackup3.json
[{"id":"b890319c.10daa","type":"tab","label":"Wallet","disabled":false,"info":""},{"id":"4aabf063.91cbe","type":"tab","label":"Streams - Keepy","disabled":false,"info":""},{"id":"9178a4d0.d91c78","type":"tab","label":"Streams Publish","disabled":false,"info":""},{"id":"e26c691b.12db78","type":"tab","label":"Streams Subscribe","disabled":false,"info":""},{"id":"cf5e93a1.63916","type":"tab","label":"IOTA","disabled":false,"info":""},{"id":"cb1fd892.c314b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d6adbaf1.e30c1","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c2192c84.52403","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ba8d7866.03b34","type":"tab","label":"BLE","disabled":false,"info":""},{"id":"abd9eace.fc7508","type":"ui_tab","name":"Data Dashboard","icon":"devices","order":2,"disabled":false,"hidden":false},{"id":"1cddf58f.bf33d2","type":"ui_group","name":"Private Sensor Data (For Sale)","tab":"abd9eace.fc7508","order":1,"disp":true,"width":"14","collapse":false},{"id":"a77773dd.5bd88","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#4e6d6f","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#4e6d6f","edited":true},"page-titlebar-backgroundColor":{"value":"#4e6d6f","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6f979a","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4e6d6f","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cc49b2cd.3f15c","type":"iota-server","host":"https://nodes.thetangle.org","port":"443"},{"id":"c48504c7.a055a","type":"ui_tab","name":"Deposit Wallet","icon":"account_balance_wallet","order":3,"disabled":false,"hidden":false},{"id":"4fdfc3d7.74e5a4","type":"modbus-client","name":"modbusTCP","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.101","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"479ba4cf.5a82f4","type":"ui_group","name":"","tab":"c48504c7.a055a","order":1,"disp":true,"width":"12","collapse":false},{"id":"812ca238.a14cb","type":"ui_group","name":"History","tab":"abd9eace.fc7508","order":2,"disp":true,"width":"14","collapse":false},{"id":"d8596899.c56458","type":"ui_group","name":"Public Sensor Information","tab":"ae47cffa.963c78","order":1,"disp":true,"width":"14","collapse":false},{"id":"ae47cffa.963c78","type":"ui_tab","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"8c8a1a8b.ffcbc","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":1,"width":5,"height":1},{"id":"7dc6bfe0.de9c38","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":3,"width":2,"height":1},{"id":"a6f95011.3b8b5","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":7,"width":4,"height":1},{"id":"3bbbb431.d28a04","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":9,"width":2,"height":1},{"id":"9e55eba9.b525d","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":10,"width":4,"height":1},{"id":"7be0d9c5.196bd8","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":11,"width":2,"height":1},{"id":"3183258b.b94bca","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":12,"width":4,"height":1},{"id":"9538a1fe.a7a748","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":13,"width":2,"height":1},{"id":"30eef561.ec4082","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":14,"width":4,"height":1},{"id":"99b51332.a5609","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":15,"width":2,"height":1},{"id":"dfb4a60f.d788f8","type":"ui_group","name":"Data Export","tab":"abd9eace.fc7508","order":3,"disp":true,"width":"12"},{"id":"2babcf4e.872598","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":2,"width":1,"height":1},{"id":"b60f501b.b04398","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":5,"width":7,"height":1},{"id":"2879a2ae.2c21b6","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":6,"width":14,"height":1},{"id":"765bfed0.b44188","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":10,"width":2,"height":1},{"id":"253dba36.6bb4fe","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":14,"width":2,"height":1},{"id":"16e14b91.07b7cc","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":15,"width":2,"height":1},{"id":"cab4a637.2abc2","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":16,"width":2,"height":1},{"id":"7a834afc.4f6a1c","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":17,"width":2,"height":1},{"id":"1fb50fd0.a96668","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":2,"width":1,"height":1},{"id":"5bf8003c.4c184","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":4,"width":14,"height":1},{"id":"14483673.1a62aa","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":5,"width":1,"height":1},{"id":"d3be98e3.a8e068","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":7,"width":10,"height":1},{"id":"79382e60.f5737","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":8,"width":1,"height":1},{"id":"10bc8a13.c4105e","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":10,"width":8,"height":1},{"id":"46434faf.ad354","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":11,"width":14,"height":1},{"id":"401b4633.7e406","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":12,"width":3,"height":1},{"id":"a0f6747c.29034","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":14,"width":4,"height":1},{"id":"490eecc0.acbe3c","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":15,"width":1,"height":1},{"id":"5c05b7c4.2f9a7","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":17,"width":2,"height":1},{"id":"743aaf25.4301f8","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":19,"width":3,"height":1},{"id":"fe77f5b2.0b591","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":20,"width":1,"height":1},{"id":"ed74dc0f.3badd8","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":21,"width":2,"height":1},{"id":"1aaf05a7.dd0042","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":22,"width":3,"height":1},{"id":"33eca8ad.c5b848","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":23,"width":1,"height":1},{"id":"be544489.a9c7d8","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":24,"width":2,"height":1},{"id":"b7b08281.39cb2","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":25,"width":3,"height":1},{"id":"42209992.611098","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":26,"width":1,"height":1},{"id":"cb8db75d.ff289","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":28,"width":2,"height":1},{"id":"5213d9da.fbc5d8","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":30,"width":3,"height":1},{"id":"354cd95d.038676","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":31,"width":1,"height":1},{"id":"cee1c0e4.44fc28","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":33,"width":2,"height":1},{"id":"d03880e9.98c188","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":35,"width":3,"height":1},{"id":"292433be.f3a004","type":"debug","z":"cf5e93a1.63916","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":60,"wires":[]},{"id":"99a779d4.409f58","type":"exec","z":"cf5e93a1.63916","command":"curl --location --request POST '192.168.68.107:8080/sensor_data' --header 'Content-Type: application/json' --data-raw ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"POST STREAMS","x":510,"y":80,"wires":[["292433be.f3a004"],[],[]]},{"id":"a9e7f2c.0b8779","type":"function","z":"cf5e93a1.63916","name":"","func":"msg.payload = \"'\"+'{ \"iot2tangle\": [ { \"sensor\": \"Gyroscope\", \"data\": [ { \"x\": \"4514\" }, { \"y\": \"244\" }, { \"z\": \"-1830\" } ] }, { \"sensor\": \"Acoustic\", \"data\": [ { \"mp\": \"1\" } ] } ], \"device\": \"DEVICE_ID_1\", \"timestamp\": 1558511111 }'+\"'\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":80,"wires":[["99a779d4.409f58"]]},{"id":"7e7c1197.1cf588","type":"inject","z":"cf5e93a1.63916","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":90,"y":60,"wires":[["a9e7f2c.0b8779"]]},{"id":"dc3c9f73.efcae8","type":"inject","z":"cf5e93a1.63916","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"x","payload":"123","payloadType":"str","x":90,"y":200,"wires":[["9e97266b.f00a28"]]},{"id":"3f876f19.2d3af","type":"inject","z":"cf5e93a1.63916","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"y","payload":"456","payloadType":"str","x":90,"y":240,"wires":[["9e97266b.f00a28"]]},{"id":"6c104073.8d7f4","type":"function","z":"cf5e93a1.63916","name":"backup","func":"\ndata = msg.payload\nmsg.payload = \"'\"+'{ \"iot2tangle\": [ { \"sensor\": \"Public\", \"data\": [ '+data+' ] }, { \"sensor\": \"Private\", \"data\": [ \"test\"] } ], \"device\": \"DEVICE_ID_1\", \"timestamp\": 1558511111 }'+\"'\"\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":360,"wires":[[]]},{"id":"7aa94328.2a27ac","type":"inject","z":"cf5e93a1.63916","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"z","payload":"zzz","payloadType":"str","x":90,"y":280,"wires":[["9e97266b.f00a28"]]},{"id":"9e97266b.f00a28","type":"join","z":"cf5e93a1.63916","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":300,"y":260,"wires":[["c20ce104.3263c"]]},{"id":"c20ce104.3263c","type":"json","z":"cf5e93a1.63916","name":"","property":"payload","action":"str","pretty":false,"x":430,"y":260,"wires":[["b343cd12.731ae","b35560ea.0b8e18"]]},{"id":"b35560ea.0b8e18","type":"encryptor","z":"cf5e93a1.63916","name":"encrypt","cryptoPassword":"gman","x":500,"y":200,"wires":[["c24eeedd.e41d3"]]},{"id":"c24eeedd.e41d3","type":"function","z":"cf5e93a1.63916","name":"","func":"privatedata = msg.payload\nvar publicdata = global.get('public')\nmsg.payload = \"'\"+'{ \"iot2tangle\": [ { \"sensor\": \"Public Data\", \"data\": [ '+publicdata+' ] }, { \"sensor\": \"Private Data\", \"data\": [ '+'\"'+privatedata+'\"'+'] } ], \"device\": \"DEVICE_ID_1\", \"timestamp\": 1558511111 }'+\"'\"\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":200,"wires":[["99a779d4.409f58"]]},{"id":"b343cd12.731ae","type":"function","z":"cf5e93a1.63916","name":"store public","func":"var val = msg.payload\nglobal.set('public',val)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":300,"wires":[[]]},{"id":"ce7745bf.58752","type":"inject","z":"cf5e93a1.63916","name":"Address to read","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CWJPDQ9DTDWGWGQGOWLPBZEHTRDEGPIHQFPGMQPEUNWOSQKDARPC9EQMKREND9TYLPFTDFFDOKAGIIQGCYYZHLYYZB","payloadType":"str","x":120,"y":360,"wires":[["a4916e68.108238"]]},{"id":"a4916e68.108238","type":"iotasearch","z":"cf5e93a1.63916","iotaNode":"cc49b2cd.3f15c","iotaValue":"","iotaSelect":"addresses","name":"Query the Tangle","x":350,"y":360,"wires":[["6c104073.8d7f4","15943661.f3dc2a","5af7eef6.800938"]]},{"id":"15943661.f3dc2a","type":"function","z":"cf5e93a1.63916","name":"Results from Tangle","func":"//read the number of transactions on the address and pull the last one\nval = msg.payload.length\nval2 = val-1\n\n//move the data to seperate outputs\nmsg1 = {payload:msg.payload[0].value}\nmsg2 = {payload:msg.payload[0].signatureMessageFragment}\nmsg3 = {payload:msg.payload[0].tag}\n//msg4 = {payload:msg.payload[1].value}\n\nreturn [msg1,msg2,msg3]","outputs":4,"noerr":0,"initialize":"","finalize":"","x":180,"y":480,"wires":[["916c7368.de139"],["5b96c1c1.d2f1e"],["ace51d5.2626d6"],["e7498cbe.4f503"]]},{"id":"916c7368.de139","type":"debug","z":"cf5e93a1.63916","name":"value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":440,"wires":[]},{"id":"5af7eef6.800938","type":"debug","z":"cf5e93a1.63916","name":"message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":500,"wires":[]},{"id":"ace51d5.2626d6","type":"debug","z":"cf5e93a1.63916","name":"tag","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":560,"wires":[]},{"id":"5b96c1c1.d2f1e","type":"string","z":"cf5e93a1.63916","name":"","methods":[{"name":"getLeftMost","params":[{"type":"str","value":"999"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":370,"y":500,"wires":[["4821507.521b9b"]]},{"id":"4821507.521b9b","type":"iotaConverter","z":"cf5e93a1.63916","fromconverter":"trytes","toconverter":"string","mesage":"","name":"","x":520,"y":500,"wires":[["5af7eef6.800938"]]},{"id":"e7498cbe.4f503","type":"debug","z":"cf5e93a1.63916","name":"Prev value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":600,"wires":[]},{"id":"2bd28d6b.5348fa","type":"exec","z":"b890319c.10daa","command":"/usr/local/bin/qr","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":280,"wires":[["89e3d967.e8a498"],[],[]]},{"id":"89e3d967.e8a498","type":"base64","z":"b890319c.10daa","name":"","action":"str","property":"payload","x":620,"y":280,"wires":[["eab34300.f22c6"]]},{"id":"eab34300.f22c6","type":"template","z":"b890319c.10daa","name":"prepare image","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"200\" height=\"200\" src=  \"data:image/png;base64,{{{payload}}}\" alt='Image not found'  />\n\n","output":"str","x":800,"y":280,"wires":[["75eb856e.a24fc4"]]},{"id":"c433ee68.4033e","type":"comment","z":"b890319c.10daa","name":"Generate QR code Image for deposit address","info":"\nRequires an external QR-code generator\n\nInstall Python packages `qrcode`\n\n```\n\npip3 install qrcode\n```\n\nUsage: `qr \"Some text\" > test.png`\nUsage: `qr \"Some text\"`\n\n+ https://pypi.org/project/PyQRCode/","x":190,"y":220,"wires":[]},{"id":"e57402dd.0d1768","type":"iotasearch","z":"b890319c.10daa","iotaNode":"cc49b2cd.3f15c","iotaValue":"","iotaSelect":"addresses","name":"Query the Tangle","x":390,"y":80,"wires":[["61d77fa.355b38"]]},{"id":"61d77fa.355b38","type":"function","z":"b890319c.10daa","name":"Results from Tangle","func":"//read the number of transactions on the address and pull the last one\ntxCount = msg.payload.length\nlastTx = txCount - 1\n\n//msg = {payload:msg.payload[0].value};\n\n\nprevCount = global.get('txCount')\nif (txCount < prevCount){\nmsg = {payload:msg.payload[lastTx].value};\nglobal.set('balance',msg.payload)\n}\n\nif (txCount == prevCount){\nmsg.payload = 0;\nglobal.set('balance',msg.payload)\n}\n\ntxcount = msg.payload.length\nglobal.set('txCount',txCount)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":80,"wires":[["b38a4261.b32dd","40fdd34.db9a02c","17408391.12e6f4"]]},{"id":"b38a4261.b32dd","type":"debug","z":"b890319c.10daa","name":"iotaBalance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"75eb856e.a24fc4","type":"ui_template","z":"b890319c.10daa","group":"479ba4cf.5a82f4","name":"Show QR Code on Dashboard","order":8,"width":6,"height":4,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1030,"y":280,"wires":[[]]},{"id":"40fdd34.db9a02c","type":"ui_text","z":"b890319c.10daa","group":"479ba4cf.5a82f4","order":5,"width":0,"height":0,"name":"","label":"IOTA Balance:","format":"{{msg.payload}}i","layout":"row-spread","x":1020,"y":160,"wires":[]},{"id":"a16ed857.9b723","type":"ui_button","z":"b890319c.10daa","name":"","group":"479ba4cf.5a82f4","order":4,"width":0,"height":0,"passthru":true,"label":"Click to refresh balance","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CWJPDQ9DTDWGWGQGOWLPBZEHTRDEGPIHQFPGMQPEUNWOSQKDARPC9EQMKREND9TYLPFTDFFDOKAGIIQGCYYZHLYYZB","payloadType":"str","topic":"","x":150,"y":100,"wires":[["e57402dd.0d1768"]]},{"id":"f94bd55.9c05728","type":"inject","z":"9178a4d0.d91c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pH","payload":"7.7","payloadType":"str","x":90,"y":360,"wires":[["aadf61ba.6371c"]]},{"id":"ca7d9c3f.697b1","type":"inject","z":"9178a4d0.d91c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Chlorine","payload":"31.4","payloadType":"str","x":110,"y":400,"wires":[["aadf61ba.6371c"]]},{"id":"aadf61ba.6371c","type":"join","z":"9178a4d0.d91c78","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":380,"wires":[["1ea6031a.d52a4d"]]},{"id":"1ea6031a.d52a4d","type":"json","z":"9178a4d0.d91c78","name":"","property":"payload","action":"str","pretty":false,"x":470,"y":380,"wires":[["59f8d65c.193fb8"]]},{"id":"eaa677dd.e3718","type":"debug","z":"9178a4d0.d91c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":160,"wires":[]},{"id":"59f8d65c.193fb8","type":"encryptor","z":"9178a4d0.d91c78","name":"encrypt","cryptoPassword":"gman","x":600,"y":380,"wires":[["e4753393.8e82f"]]},{"id":"e4753393.8e82f","type":"function","z":"9178a4d0.d91c78","name":"store private","func":"var val = msg.payload\nglobal.set('private',val)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":380,"wires":[[]]},{"id":"f041973c.824e08","type":"inject","z":"e26c691b.12db78","name":"Channel Address","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"'192.168.68.107:8585/decode_channel/2565318318aefe0aab780a64b9a2cfa05a16cf7fa17506e2051834c1d2964d3d0000000000000000:9a68e32db54fc3d83ac9f2a1'","payloadType":"str","x":120,"y":60,"wires":[["c4f05a4b.11a09"]]},{"id":"c4f05a4b.11a09","type":"exec","z":"e26c691b.12db78","command":"curl --location --request GET ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read STREAMS","x":420,"y":60,"wires":[["d3cc79b0.cf4cb"],[],[]]},{"id":"d3cc79b0.cf4cb","type":"json","z":"e26c691b.12db78","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":180,"wires":[["331160cc.a0cd48","e69d064f.6794e"]]},{"id":"331160cc.a0cd48","type":"function","z":"e26c691b.12db78","name":"","func":"msg = {payload:msg.payload.messages[0]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":280,"wires":[["210acc15.9d5e94"]]},{"id":"210acc15.9d5e94","type":"json","z":"e26c691b.12db78","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":280,"wires":[["e90d6ee1.247ac8","e69d064f.6794e"]]},{"id":"ca098396.da4d58","type":"inject","z":"e26c691b.12db78","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"status\":\"Success\",\"messages\":[\"{\\\"iot2tangle\\\":[{\\\"sensor\\\":\\\"Public\\\",\\\"data\\\":[{\\\"x\\\":\\\"123\\\",\\\"y\\\":\\\"456\\\",\\\"z\\\":\\\"zzz\\\"}]},{\\\"sensor\\\":\\\"Private\\\",\\\"data\\\":[\\\"934b6da13d900ce3d7be4bb4f56a5700c649adfec0e17c51a8a129733f5170\\\"]}],\\\"device\\\":\\\"ca94764ed791780262fb211333a85d36e4b9eb7881b53c39f650933aba1f9b31\\\",\\\"timestamp\\\":1605583559}\"]}","payloadType":"str","x":100,"y":120,"wires":[["d3cc79b0.cf4cb"]]},{"id":"e90d6ee1.247ac8","type":"change","z":"e26c691b.12db78","name":"","rules":[{"t":"set","p":"payload.x","pt":"msg","to":"payload.iot2tangle[0].data[0].x","tot":"jsonata"},{"t":"set","p":"payload.y","pt":"msg","to":"payload.iot2tangle[0].data[0].y","tot":"jsonata"},{"t":"set","p":"payload.z","pt":"msg","to":"payload.iot2tangle[0].data[0].z","tot":"jsonata"},{"t":"set","p":"payload.private","pt":"msg","to":"payload.iot2tangle[1].data[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":280,"wires":[["c85aa293.55199","a5f51a5f.c3ac6","f378209b.742f88","46f12b9f.05a6a4"]]},{"id":"c85aa293.55199","type":"debug","z":"e26c691b.12db78","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.x","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":220,"wires":[]},{"id":"a5f51a5f.c3ac6","type":"function","z":"e26c691b.12db78","name":"","func":"var msg1 = msg.payload.private\nmsg.payload = msg1\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":360,"wires":[["23e2427e.dd0a5e"]]},{"id":"23e2427e.dd0a5e","type":"decryptor","z":"e26c691b.12db78","name":"","cryptoPassword":"gman","x":300,"y":360,"wires":[["59ef4e88.258fc8"]]},{"id":"59ef4e88.258fc8","type":"json","z":"e26c691b.12db78","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":360,"wires":[["7668be5b.e37118","208cd994.7be38e","9c1ed080.48d458"]]},{"id":"f378209b.742f88","type":"debug","z":"e26c691b.12db78","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.y","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":260,"wires":[]},{"id":"46f12b9f.05a6a4","type":"debug","z":"e26c691b.12db78","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.z","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":300,"wires":[]},{"id":"208cd994.7be38e","type":"debug","z":"e26c691b.12db78","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.z","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":420,"wires":[]},{"id":"7668be5b.e37118","type":"debug","z":"e26c691b.12db78","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.y","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":380,"wires":[]},{"id":"e69d064f.6794e","type":"debug","z":"e26c691b.12db78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":140,"wires":[]},{"id":"2102db4.9ddcd24","type":"inject","z":"cf5e93a1.63916","name":"Address to read","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":220,"y":680,"wires":[["2ee59890.c19318"]]},{"id":"2ee59890.c19318","type":"iotasendtransfer","z":"cf5e93a1.63916","iotaNode":"cc49b2cd.3f15c","iotaSeed":"HELLOWORLDHELLOWORLDHELLOWORLDHELLOWORLDHELLOWORLDHELLOWORLDHELLOWORLDHELLOWORLDD","iotaAddr":"QDSVQMNSXGNBVULVETRGSXV9MOAXPCAYLQBAEEVATANUCDMIJTQQKJMJWOINNJIBOACAWEHCSOGKMSPGWQWKQYOTVC","iotaTag":"GMAN","iotaValue":0,"name":"","x":400,"y":720,"wires":[["5af7eef6.800938"]]},{"id":"6aeceaed.1833b4","type":"exec","z":"9178a4d0.d91c78","command":"curl --location --request POST '192.168.68.107:3002/messages' --header 'Content-Type: application/json' --data-raw ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"POST STREAMS","x":730,"y":180,"wires":[["eaa677dd.e3718"],[],["b1791e26.01375"]]},{"id":"95dc4447.8e784","type":"inject","z":"4aabf063.91cbe","name":"Get All tx","props":[{"p":"payload"},{"p":"topic","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"'192.168.68.107:3002/messages'","payloadType":"str","x":100,"y":120,"wires":[["38c4f259.f1114e"]]},{"id":"38c4f259.f1114e","type":"exec","z":"4aabf063.91cbe","command":"curl --location --request GET ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read STREAMS","x":420,"y":60,"wires":[["ac0f2002.aff7"],[],["afa60c59.ffcd38"]]},{"id":"a4d2c67d.5b92e","type":"inject","z":"4aabf063.91cbe","name":"Get Last 5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"192.168.68.107:3002/messages?limit=5","payloadType":"str","x":100,"y":180,"wires":[["38c4f259.f1114e"]]},{"id":"94706513.f80ef","type":"inject","z":"4aabf063.91cbe","name":"Get Last","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"'192.168.68.107:3002/messages/last'","payloadType":"str","x":80,"y":140,"wires":[["38c4f259.f1114e"]]},{"id":"ac0f2002.aff7","type":"json","z":"4aabf063.91cbe","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":20,"wires":[["913d9ab0.049fc","c6c88f33.f3c298","4f162b80.a75d04"]]},{"id":"9f869c2a.e2e1c","type":"inject","z":"9178a4d0.d91c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pH Health","payload":"FAIL","payloadType":"str","x":120,"y":440,"wires":[["aadf61ba.6371c"]]},{"id":"31ea9817.92a4d","type":"inject","z":"9178a4d0.d91c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Cl2 Health","payload":"OK","payloadType":"str","x":110,"y":480,"wires":[["aadf61ba.6371c"]]},{"id":"76a6dc05.c22c54","type":"inject","z":"9178a4d0.d91c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pH Last Cal","payload":"2020-07-08","payloadType":"str","x":140,"y":520,"wires":[["aadf61ba.6371c"]]},{"id":"1fa1855d.6fbf6b","type":"inject","z":"9178a4d0.d91c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Cl2 Last Cal","payload":"2020-10-10","payloadType":"str","x":150,"y":560,"wires":[["aadf61ba.6371c"]]},{"id":"e830c67e.960d78","type":"function","z":"9178a4d0.d91c78","name":"","func":"//Read the private and public data from the stored global memory\nvar publicdata = global.get('public')\nvar privatedata = global.get('private')\n\n//add the public and private data into I2T Gateway's expected format\nmsg.payload = \"'\"+'{ \"iot2tangle\": [{ \"sensor\": \"Sensor Data\", \"data\": [ '+publicdata+' ] }, { \"sensor\": \"Encrypted Data\", \"data\": [ '+'\"'+privatedata+'\"'+'] } ], \"device\": \"DEVICE_ID_1\", \"timestamp\": 0 }'+\"'\"\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":180,"wires":[["6aeceaed.1833b4"]]},{"id":"a0069832.fadab8","type":"function","z":"4aabf063.91cbe","name":"Read Private Data","func":"var data = [];\n\nfor (i = 0; i< msg.payload.length; i++) {\ndata.push(msg.payload[i].message.iot2tangle[1].data[0])\n}\nmsg.payload = data\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":320,"wires":[["4b920d97.0c5814"]]},{"id":"2e826440.a3344c","type":"function","z":"4aabf063.91cbe","name":"Extract Public data object","func":"\nmsg = {payload:msg.payload[0].message.iot2tangle[0].data[0]}\n\nmsg1 = {payload:msg.payload[\"timestamp\"]}\nmsg2 = {payload:msg.payload[\"SensorType\"]}\nmsg3 = {payload:msg.payload[\"DiD\"]}\nmsg4 = {payload:msg.payload[\"GPS\"]}\n\n\n\nreturn [msg1,msg2,msg3,msg4];\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":810,"y":180,"wires":[["e4d6d78c.78e5a8"],["720876aa.6df758"],["d0cf5b6c.7e7fd8"],["6ce6906c.bf5b3"]]},{"id":"9c1ed080.48d458","type":"debug","z":"e26c691b.12db78","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.x","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":340,"wires":[]},{"id":"a7747e89.4bbcb","type":"function","z":"cb1fd892.c314b8","name":"","func":"msg = {payload:msg.payload.messages[0]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":320,"wires":[["a533b30d.690af8"]]},{"id":"a533b30d.690af8","type":"json","z":"cb1fd892.c314b8","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":320,"wires":[["c1728f6f.aa11e8","ffb42db5.b726"]]},{"id":"c1728f6f.aa11e8","type":"change","z":"cb1fd892.c314b8","name":"","rules":[{"t":"set","p":"payload.x","pt":"msg","to":"payload.iot2tangle[0].data[0].x","tot":"jsonata"},{"t":"set","p":"payload.y","pt":"msg","to":"payload.iot2tangle[0].data[0].y","tot":"jsonata"},{"t":"set","p":"payload.z","pt":"msg","to":"payload.iot2tangle[0].data[0].z","tot":"jsonata"},{"t":"set","p":"payload.private","pt":"msg","to":"payload.iot2tangle[1].data[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":320,"wires":[["8700646c.25d73","71aa2816.e92478","97b6c6e3.345ce8"]]},{"id":"97b6c6e3.345ce8","type":"debug","z":"cb1fd892.c314b8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.z","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":340,"wires":[]},{"id":"71aa2816.e92478","type":"debug","z":"cb1fd892.c314b8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.y","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":300,"wires":[]},{"id":"8700646c.25d73","type":"debug","z":"cb1fd892.c314b8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.x","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":260,"wires":[]},{"id":"ffb42db5.b726","type":"debug","z":"cb1fd892.c314b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":180,"wires":[]},{"id":"46cd179b.69016","type":"json","z":"cb1fd892.c314b8","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":220,"wires":[["a7747e89.4bbcb","ffb42db5.b726"]]},{"id":"dfe051a7.223958","type":"inject","z":"cb1fd892.c314b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"status\":\"Success\",\"messages\":[\"{\\\"iot2tangle\\\":[{\\\"sensor\\\":\\\"Public\\\",\\\"data\\\":[{\\\"x\\\":\\\"123\\\",\\\"y\\\":\\\"456\\\",\\\"z\\\":\\\"zzz\\\"}]},{\\\"sensor\\\":\\\"Private\\\",\\\"data\\\":[\\\"934b6da13d900ce3d7be4bb4f56a5700c649adfec0e17c51a8a129733f5170\\\"]}],\\\"device\\\":\\\"ca94764ed791780262fb211333a85d36e4b9eb7881b53c39f650933aba1f9b31\\\",\\\"timestamp\\\":1605583559}\"]}","payloadType":"str","x":80,"y":160,"wires":[["46cd179b.69016"]]},{"id":"cae8f0ec.e749e","type":"inject","z":"cb1fd892.c314b8","name":"Channel Address","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"'0.0.0.0:8585/decode_channel/2565318318aefe0aab780a64b9a2cfa05a16cf7fa17506e2051834c1d2964d3d0000000000000000:9a68e32db54fc3d83ac9f2a1'","payloadType":"str","x":100,"y":100,"wires":[["404904dd.9d631c"]]},{"id":"404904dd.9d631c","type":"exec","z":"cb1fd892.c314b8","command":"curl --location --request GET ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read STREAMS","x":400,"y":100,"wires":[["46cd179b.69016"],[],[]]},{"id":"62987380.a8dbf4","type":"inject","z":"d6adbaf1.e30c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"x","payload":"123","payloadType":"str","x":90,"y":160,"wires":[["7b7d65d5.47b154"]]},{"id":"cd9cfbf.1760808","type":"inject","z":"d6adbaf1.e30c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"y","payload":"456","payloadType":"str","x":90,"y":200,"wires":[["7b7d65d5.47b154"]]},{"id":"6a844904.1309c8","type":"inject","z":"d6adbaf1.e30c1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"z","payload":"zzz","payloadType":"str","x":90,"y":240,"wires":[["7b7d65d5.47b154"]]},{"id":"7b7d65d5.47b154","type":"join","z":"d6adbaf1.e30c1","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":300,"y":220,"wires":[["836a4c9f.5ff3f"]]},{"id":"836a4c9f.5ff3f","type":"json","z":"d6adbaf1.e30c1","name":"","property":"payload","action":"str","pretty":false,"x":430,"y":220,"wires":[["13099a6a.2f16ce"]]},{"id":"13099a6a.2f16ce","type":"function","z":"d6adbaf1.e30c1","name":"","func":"mydata = msg.payload\nmsg.payload = \"'\"+'{ \"iot2tangle\": [ { \"sensor\": \"Public Data\", \"data\": [ '+mydata+' ] } ], \"device\": \"DEVICE_ID_1\", \"timestamp\": 1558511111 }'+\"'\"\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["51b715f4.90d37c","6e1ad419.160734"]]},{"id":"51b715f4.90d37c","type":"exec","z":"d6adbaf1.e30c1","command":"curl --location --request POST '192.168.68.107:8080/sensor_data' --header 'Content-Type: application/json' --data-raw ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"POST STREAMS","x":550,"y":80,"wires":[["d60e9c86.557978"],[],["d60e9c86.557978"]]},{"id":"d60e9c86.557978","type":"debug","z":"d6adbaf1.e30c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":120,"wires":[]},{"id":"6e1ad419.160734","type":"debug","z":"d6adbaf1.e30c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":220,"wires":[]},{"id":"9c41b35.847935","type":"rbe","z":"ba8d7866.03b34","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":60,"wires":[["8db33e8b.cba6d8","15c9537a.0f61bd"]]},{"id":"8db33e8b.cba6d8","type":"split","z":"ba8d7866.03b34","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","x":190,"y":320,"wires":[["6a7c2160.24ca3"]]},{"id":"6a7c2160.24ca3","type":"switch","z":"ba8d7866.03b34","name":"","property":"key","propertyType":"msg","rules":[{"t":"eq","v":"lux","vt":"str"},{"t":"eq","v":"right","vt":"str"},{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":320,"y":320,"wires":[[],[],[],[]]},{"id":"15c9537a.0f61bd","type":"debug","z":"ba8d7866.03b34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":100,"wires":[]},{"id":"1629540e.10b0e4","type":"modbus-read","z":"ba8d7866.03b34","name":"test","topic":"test","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"40012","quantity":"1","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"4fdfc3d7.74e5a4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":180,"y":140,"wires":[["15c9537a.0f61bd"],["15c9537a.0f61bd"]]},{"id":"a0988a38.d08ed","type":"ui_gauge","z":"4aabf063.91cbe","name":"","group":"1cddf58f.bf33d2","order":16,"width":4,"height":3,"gtype":"gage","title":"pH Sensor","label":"pH","format":"{{msg.payload}}","min":"4","max":"10","colors":["#000000","#0fff00","#ef0f0f"],"seg1":"","seg2":"","x":570,"y":520,"wires":[]},{"id":"e1340a94.995c78","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":29,"width":4,"height":1,"name":"pH Health","label":"pH Health:","format":"{{msg.payload}}","layout":"row-center","x":560,"y":620,"wires":[]},{"id":"707ffce4.66f654","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":27,"width":4,"height":1,"name":"Chlorine Health","label":"Cl2 Health:","format":"{{msg.payload}}","layout":"row-center","x":580,"y":640,"wires":[]},{"id":"273e64e2.074e0c","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":34,"width":4,"height":1,"name":"pH Last Cal","label":"pH Last Cal.","format":"{{msg.payload}}","layout":"row-center","x":570,"y":680,"wires":[]},{"id":"cbdc7ae0.4f6df","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":32,"width":4,"height":1,"name":"","label":"Cl2 Last Cal.","format":"{{msg.payload}}","layout":"row-center","x":570,"y":720,"wires":[]},{"id":"f512a885.1e11e8","type":"ui_gauge","z":"4aabf063.91cbe","name":"","group":"1cddf58f.bf33d2","order":18,"width":4,"height":3,"gtype":"gage","title":"Chlorine Sensor","label":"ppm","format":"{{value}}","min":"0","max":"50","colors":["#05fff8","#0fff00","#ff0000"],"seg1":"","seg2":"","x":580,"y":560,"wires":[]},{"id":"c03bc348.62fc5","type":"inject","z":"9178a4d0.d91c78","name":"DID","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DiD","payload":"BBEWZXZFMXNEGFHOANQFYIXCPZTQCOCPYLXPEWWTJLFWMXQXNRIZFABGV9WGJWOFNIETPEOYKQEF99999","payloadType":"str","x":90,"y":120,"wires":[["65b0001c.f82b"]]},{"id":"384de077.b735d8","type":"comment","z":"b890319c.10daa","name":"Reads IOTA balance from Address injected","info":"","x":200,"y":20,"wires":[]},{"id":"dffb7340.dc1348","type":"function","z":"4aabf063.91cbe","name":"Extract Private data object","func":"msg = msg.payload\n\nmsg1 = {payload:msg[\"pH\"]}\nmsg2 = {payload:msg[\"Chlorine\"]}\nmsg3 = {payload:msg[\"pH Health\"]}\nmsg4 = {payload:msg[\"Cl2 Health\"]}\nmsg5 = {payload:msg[\"pH Last Cal\"]}\nmsg6 = {payload:msg[\"Cl2 Last Cal\"]}\n\n\nreturn [msg1,msg2,msg3,msg4,msg5,msg6];\n\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":330,"y":640,"wires":[["a0988a38.d08ed"],["f512a885.1e11e8"],["e1340a94.995c78"],["707ffce4.66f654"],["273e64e2.074e0c"],["cbdc7ae0.4f6df"]]},{"id":"76a9ee58.f70d68","type":"decryptor","z":"4aabf063.91cbe","name":"","cryptoPassword":"gman","x":130,"y":380,"wires":[["75888fac.ff4738"]]},{"id":"7ca3b463.42856c","type":"function","z":"4aabf063.91cbe","name":"Read Private Data","func":"msg = {payload:msg.payload[0].message.iot2tangle[1].data[0]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":340,"wires":[["76a9ee58.f70d68"]]},{"id":"75888fac.ff4738","type":"json","z":"4aabf063.91cbe","name":"","property":"payload","action":"obj","pretty":false,"x":90,"y":420,"wires":[["dffb7340.dc1348"]]},{"id":"913d9ab0.049fc","type":"switch","z":"4aabf063.91cbe","name":"1= Private 0=Public Data","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":220,"wires":[["2e826440.a3344c"],["a0069832.fadab8","7ca3b463.42856c"]]},{"id":"c50f8a0c.85e348","type":"inject","z":"4aabf063.91cbe","name":"clear table","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"jsonata","x":900,"y":540,"wires":[["ded05a5a.532e"]]},{"id":"4b920d97.0c5814","type":"split","z":"4aabf063.91cbe","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":340,"wires":[["b6c2ca5c.1bdd98"]]},{"id":"b6c2ca5c.1bdd98","type":"decryptor","z":"4aabf063.91cbe","name":"","cryptoPassword":"gman","x":840,"y":400,"wires":[["ea6a5109.7d769"]]},{"id":"a05e9cb7.55da7","type":"join","z":"4aabf063.91cbe","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":480,"wires":[["ded05a5a.532e","dccf9aa9.30c928","9b1407ac.695e28"]]},{"id":"ea6a5109.7d769","type":"json","z":"4aabf063.91cbe","name":"","property":"payload","action":"obj","pretty":false,"x":830,"y":440,"wires":[["a05e9cb7.55da7"]]},{"id":"2de45d8a.78ddaa","type":"inject","z":"b890319c.10daa","name":"get balance","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CWJPDQ9DTDWGWGQGOWLPBZEHTRDEGPIHQFPGMQPEUNWOSQKDARPC9EQMKREND9TYLPFTDFFDOKAGIIQGCYYZHLYYZB","payloadType":"str","x":210,"y":60,"wires":[["e57402dd.0d1768"]]},{"id":"96a8f103.adac4","type":"inject","z":"4aabf063.91cbe","name":"Get Last x based on deposit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"192.168.68.107:3002/messages?limit=","payloadType":"str","x":140,"y":220,"wires":[["a51a6cbe.2d9fa"]]},{"id":"a51a6cbe.2d9fa","type":"function","z":"4aabf063.91cbe","name":"","func":"var iotaBalance = global.get('balance')\nif (iotaBalance >0){\nmsg.payload = msg.payload + iotaBalance.toString()\nreturn msg;}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":140,"wires":[["38c4f259.f1114e"]]},{"id":"17408391.12e6f4","type":"ui_text","z":"b890319c.10daa","group":"1cddf58f.bf33d2","order":6,"width":3,"height":1,"name":"","label":"IOTA Balance:","format":"{{msg.payload}}i","layout":"row-left","x":1000,"y":80,"wires":[]},{"id":"59c54676.684638","type":"ui_media","z":"b890319c.10daa","group":"479ba4cf.5a82f4","name":"Show IOTA Logo","width":5,"height":1,"order":2,"category":"pic","file":"IOTA Logo.png","layout":"adjust","showcontrols":false,"loop":false,"onstart":false,"scope":"local","tooltip":"","x":590,"y":20,"wires":[[]]},{"id":"b1791e26.01375","type":"debug","z":"9178a4d0.d91c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":220,"wires":[]},{"id":"afa60c59.ffcd38","type":"function","z":"4aabf063.91cbe","name":"","func":"code = msg.payload.code\nif (code==7){status = \"Error, Keepy Unavailable\"}\nif (code==0){status = \"OK\"}\n\nmsg.payload = status\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":60,"wires":[["39219681.66a77a"]]},{"id":"39219681.66a77a","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":3,"width":5,"height":1,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-right","x":1060,"y":60,"wires":[]},{"id":"c6c88f33.f3c298","type":"function","z":"4aabf063.91cbe","name":"","func":"msg.payload = msg.payload.channelId\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":20,"wires":[["38d0e8b1.3c23a"]]},{"id":"c5ba3a2.689bbc8","type":"inject","z":"9178a4d0.d91c78","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"timestamp","payload":"","payloadType":"date","x":100,"y":40,"wires":[["65b0001c.f82b"]]},{"id":"d5a42790.cfb5d8","type":"inject","z":"9178a4d0.d91c78","name":"Sensor Type","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SensorType","payload":"Water Analyzer, pH, Cl2, Temp.","payloadType":"str","x":110,"y":80,"wires":[["65b0001c.f82b"]]},{"id":"65b0001c.f82b","type":"join","z":"9178a4d0.d91c78","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":330,"y":100,"wires":[["9024bd1c.6bf79"]]},{"id":"9024bd1c.6bf79","type":"json","z":"9178a4d0.d91c78","name":"","property":"payload","action":"str","pretty":false,"x":530,"y":100,"wires":[["bd2155d.d986ba8"]]},{"id":"bd2155d.d986ba8","type":"function","z":"9178a4d0.d91c78","name":"store public","func":"var val = msg.payload\nglobal.set('public',val)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":100,"wires":[[]]},{"id":"eea30b39.762af8","type":"inject","z":"9178a4d0.d91c78","name":"Publish to Streams","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":180,"wires":[["e830c67e.960d78"]]},{"id":"720876aa.6df758","type":"ui_text","z":"4aabf063.91cbe","group":"d8596899.c56458","order":1,"width":7,"height":1,"name":"","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-left","x":1110,"y":160,"wires":[]},{"id":"501f4f94.af72","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":1,"width":8,"height":1,"name":"","label":"Last Datapoint:","format":"{{msg.payload}}","layout":"row-left","x":1220,"y":80,"wires":[]},{"id":"7c713400.a29884","type":"inject","z":"9178a4d0.d91c78","name":"GPS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"GPS","payload":"35.227085, -80.843124","payloadType":"str","x":90,"y":200,"wires":[["65b0001c.f82b"]]},{"id":"6ce6906c.bf5b3","type":"ui_text","z":"4aabf063.91cbe","group":"d8596899.c56458","order":3,"width":6,"height":1,"name":"","label":"GPS:","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":220,"wires":[]},{"id":"ea3907e0.913b58","type":"ui_button","z":"4aabf063.91cbe","name":"","group":"1cddf58f.bf33d2","order":13,"width":7,"height":1,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"192.168.68.107:3002/messages?limit=","payloadType":"str","topic":"1","x":90,"y":80,"wires":[["a51a6cbe.2d9fa"]]},{"id":"df1d6781.ea21f","type":"link in","z":"b890319c.10daa","name":"","links":["4f0a1f3b.562358"],"x":35,"y":60,"wires":[["a16ed857.9b723"]]},{"id":"e4d6d78c.78e5a8","type":"function","z":"4aabf063.91cbe","name":"Unix to readable","func":"var d=new Date(msg.payload);\n\n\ntime = d.toLocaleString(\"en-US\", {timeZone: \"america/los_angeles\"});\n\n\n\nmsg.payload = time\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":100,"wires":[["501f4f94.af72","a58f842a.03c6e8"]]},{"id":"fb576c0c.30b8c","type":"ui_ui_control","z":"4aabf063.91cbe","name":"","events":"all","x":920,"y":640,"wires":[["ded05a5a.532e"]]},{"id":"a3f76e86.deed4","type":"ui_ui_control","z":"b890319c.10daa","name":"","events":"all","x":120,"y":340,"wires":[["99922e38.78c158","6a4181c5.49b1c8"]]},{"id":"6a4181c5.49b1c8","type":"function","z":"b890319c.10daa","name":"generate QR code from address","func":"walletAddress = \"CWJPDQ9DTDWGWGQGOWLPBZEHTRDEGPIHQFPGMQPEUNWOSQKDARPC9EQMKREND9TYLPFTDFFDOKAGIIQGCYYZHLYYZB\"\nmsg.payload = walletAddress\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":360,"wires":[["2bd28d6b.5348fa"]]},{"id":"2aa14d6a.77174a","type":"exec","z":"4aabf063.91cbe","command":"/usr/local/bin/qr","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":240,"y":800,"wires":[["47f8bfb6.db86a"],[],[]]},{"id":"47f8bfb6.db86a","type":"base64","z":"4aabf063.91cbe","name":"","action":"str","property":"payload","x":380,"y":800,"wires":[["db0dbd96.c9cc08"]]},{"id":"db0dbd96.c9cc08","type":"template","z":"4aabf063.91cbe","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"200\" height=\"200\" src=  \"data:image/png;base64,{{{payload}}}\" alt='Image not found'  />\n\n","output":"str","x":460,"y":780,"wires":[["749f8613.91bdc8"]]},{"id":"749f8613.91bdc8","type":"ui_template","z":"4aabf063.91cbe","group":"d8596899.c56458","name":"Show QR for Streams Ch, ID","order":11,"width":4,"height":4,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":660,"y":800,"wires":[[]]},{"id":"90239bb0.b5c468","type":"ui_ui_control","z":"4aabf063.91cbe","name":"","events":"all","x":80,"y":20,"wires":[["5d2e0605.8a553","aa981df.834f96"]]},{"id":"7bffb83f.61a0a","type":"base64","z":"4aabf063.91cbe","name":"","action":"str","property":"payload","x":380,"y":900,"wires":[["a1c1a5a2.af6f"]]},{"id":"a1c1a5a2.af6f","type":"template","z":"4aabf063.91cbe","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"200\" height=\"200\" src=  \"data:image/png;base64,{{{payload}}}\" alt='Image not found'  />\n\n","output":"str","x":460,"y":880,"wires":[["c5651de8.0acaa8"]]},{"id":"c5651de8.0acaa8","type":"ui_template","z":"4aabf063.91cbe","group":"d8596899.c56458","name":"Show QR for DiD","order":12,"width":4,"height":4,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":630,"y":880,"wires":[[]]},{"id":"d3cc8f4b.b3efd","type":"exec","z":"4aabf063.91cbe","command":"/usr/local/bin/qr","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":260,"y":900,"wires":[["7bffb83f.61a0a"],[],[]]},{"id":"d0cf5b6c.7e7fd8","type":"link out","z":"4aabf063.91cbe","name":"to QR","links":["379cf1a.1de390e","96e43185.de128"],"x":1055,"y":180,"wires":[]},{"id":"379cf1a.1de390e","type":"link in","z":"4aabf063.91cbe","name":"","links":["d0cf5b6c.7e7fd8"],"x":35,"y":860,"wires":[["72d06804.ca5e88","b896a8b5.ec1ef"]]},{"id":"38d0e8b1.3c23a","type":"link out","z":"4aabf063.91cbe","name":"to  Streams iD QR","links":["bff29369.bbfbf"],"x":965,"y":20,"wires":[]},{"id":"bff29369.bbfbf","type":"link in","z":"4aabf063.91cbe","name":"","links":["38d0e8b1.3c23a"],"x":35,"y":760,"wires":[["602d8f78.c38b08","43fb01b9.b98ed"]]},{"id":"72d06804.ca5e88","type":"ui_text","z":"4aabf063.91cbe","group":"d8596899.c56458","order":8,"width":4,"height":1,"name":"","label":"DiD Document:","format":"","layout":"row-left","x":190,"y":860,"wires":[]},{"id":"602d8f78.c38b08","type":"ui_text","z":"4aabf063.91cbe","group":"d8596899.c56458","order":7,"width":4,"height":1,"name":"","label":"Streams Ch. ID:","format":"","layout":"row-left","x":180,"y":740,"wires":[]},{"id":"43fb01b9.b98ed","type":"function","z":"4aabf063.91cbe","name":"","func":"channelId = msg.payload\nurl = \"https://explorer.iot2tangle.io/channel/\"\nlink = url + channelId\nmsg.payload = link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":80,"y":800,"wires":[["2aa14d6a.77174a"]]},{"id":"b896a8b5.ec1ef","type":"function","z":"4aabf063.91cbe","name":"","func":"DiD = msg.payload\nurl = \"https://explorer.iota.org/mainnet/transaction/\"\nmsg.payload = url+DiD\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":900,"wires":[["d3cc8f4b.b3efd"]]},{"id":"ded05a5a.532e","type":"ui_table","z":"4aabf063.91cbe","group":"812ca238.a14cb","name":"","order":1,"width":14,"height":7,"columns":[],"outputs":0,"cts":false,"x":1090,"y":540,"wires":[]},{"id":"fb202ead.7d2c48","type":"inject","z":"9178a4d0.d91c78","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"timestamp","payload":"","payloadType":"date","x":100,"y":320,"wires":[["aadf61ba.6371c"]]},{"id":"4f162b80.a75d04","type":"debug","z":"4aabf063.91cbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":320,"wires":[]},{"id":"99922e38.78c158","type":"ui_text","z":"b890319c.10daa","group":"479ba4cf.5a82f4","order":6,"width":0,"height":0,"name":"","label":"IOTA Deposit Address:","format":"","layout":"row-center","x":200,"y":280,"wires":[]},{"id":"dccf9aa9.30c928","type":"function","z":"4aabf063.91cbe","name":"Consume balance","func":"global.set('balance',0)\nmsg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":480,"wires":[["8b9bf3c8.a8e39"]]},{"id":"5d2e0605.8a553","type":"function","z":"4aabf063.91cbe","name":"Get last streams tx","func":"msg.payload = '192.168.68.107:3002/messages?limit=1'\nmsg.topic = 0\nmsg.blank = 'n/a'\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":20,"wires":[["38c4f259.f1114e","943a0ea.1c499f","e74a97a1.dd28"]]},{"id":"e74a97a1.dd28","type":"function","z":"4aabf063.91cbe","name":"clear private data","func":"msg.payload = {\"timestamp\":1606030801888,\n\"pH\":\"n/a\",\n\"Chlorine\":\"n/a\",\n\"pH Health\":\"n/a\",\n\"Cl2 Health\":\"n/a\",\n\"pH Last Cal\":\"n/a\",\n\"Cl2 Last Cal\":\"n/a\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":480,"wires":[["dffb7340.dc1348"]]},{"id":"943a0ea.1c499f","type":"function","z":"4aabf063.91cbe","name":"","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":580,"wires":[["ded05a5a.532e"]]},{"id":"57900e95.4d593","type":"inject","z":"4aabf063.91cbe","name":"clear data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":400,"wires":[["e74a97a1.dd28"]]},{"id":"8b9bf3c8.a8e39","type":"link out","z":"4aabf063.91cbe","name":"reset balance","links":["3de42f7e.51cc2","2e6fa9ab.7e7e56"],"x":1215,"y":480,"wires":[]},{"id":"3de42f7e.51cc2","type":"link in","z":"b890319c.10daa","name":"","links":["8b9bf3c8.a8e39"],"x":855,"y":20,"wires":[["17408391.12e6f4","40fdd34.db9a02c"]]},{"id":"a58f842a.03c6e8","type":"ui_text","z":"4aabf063.91cbe","group":"d8596899.c56458","order":4,"width":7,"height":1,"name":"","label":"Last Datapoint:","format":"{{msg.payload}}","layout":"row-left","x":1240,"y":120,"wires":[]},{"id":"d0382a69.fa684","type":"inject","z":"b890319c.10daa","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":560,"wires":[["f9adc2cd.1a8638"]]},{"id":"f9adc2cd.1a8638","type":"function","z":"b890319c.10daa","name":"use for testing to reset","func":"txCount = global.get('txCount')\nnewcount = txCount +1\nglobal.set('txCount',newcount)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":560,"wires":[["f4fafa9a.df5548"]]},{"id":"f4fafa9a.df5548","type":"debug","z":"b890319c.10daa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":560,"wires":[]},{"id":"d2871186.71381","type":"inject","z":"b890319c.10daa","name":"Read balance of last deposit address","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":660,"wires":[["82616722.04ffc"]]},{"id":"82616722.04ffc","type":"function","z":"b890319c.10daa","name":"","func":"msg.payload = global.get('balance')\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":660,"wires":[["ec4dffe6.067768"]]},{"id":"ec4dffe6.067768","type":"debug","z":"b890319c.10daa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":660,"wires":[]},{"id":"9b1407ac.695e28","type":"file","z":"4aabf063.91cbe","name":"saves to file","filename":"/home/pi/Public/StreamsDataExport.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1130,"y":600,"wires":[[]]},{"id":"dbd677bb.3f796","type":"ui_template","z":"c2192c84.52403","group":"812ca238.a14cb","name":"","order":2,"width":0,"height":0,"format":"<form action=\"/StreamsDataExport.txt\" method=\"download\">\n       <input type=\"submit\" value=\"Download Data\" \n         name=\"Submit\" id=\"frm2_submit\" />\n</form>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":400,"wires":[[]]},{"id":"ad49835e.8703f","type":"inject","z":"c2192c84.52403","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":440,"wires":[["dbd677bb.3f796"]]},{"id":"6b17da1c.54f04c","type":"inject","z":"9178a4d0.d91c78","name":"VC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"VC","payload":" {\"@context\":\"https://www.w3.org/2018/credentials/v1\",\"id\":\"https://iotsci.org/\",\"type\":[\"VerifiableCredential\",\"IoT Sensor Certification Institute\"],\"credentialSubject\":{\"id\":\"did:iota:main:5AoguwjpeBAocnNXv8754CJVmFsLJc3sR9AYYDD7onKq\",\"name\":\"IoT Sensor Certification Institute\",\"degree\":{\"name\":\"Certified Instrument\",\"type\":\"Trusted Instrument\"}},\"issuer\":\"did:iota:main:4btRzGFyuW4vsjgn6jQ8tQsqwGZVpLZ3NmWiWKJZerSX\",\"issuanceDate\":\"2020-11-22T22:01:24Z\",\"proof\":{\"type\":\"JcsEd25519Signature2020\",\"verificationMethod\":\"did:iota:main:4btRzGFyuW4vsjgn6jQ8tQsqwGZVpLZ3NmWiWKJZerSX#authentication\",\"created\":\"2020-11-22T22:01:24Z\",\"signatureValue\":\"dvQE2gXVRWaVAKeKcEekLS9fnCijfaZx2Y4q9dznhkNBFAaFKubnDMwZUH18dHjD9JMHFo4rjGNTLQcvQ3MC5ebs2RVaHNEmjHUvX7xqfumACgxiqrELh5xssUC1svtsm8Y\"}}","payloadType":"str","x":90,"y":160,"wires":[["65b0001c.f82b"]]},{"id":"8246ea68.bf3118","type":"base64","z":"4aabf063.91cbe","name":"","action":"str","property":"payload","x":360,"y":1020,"wires":[["9adcec45.df68b8"]]},{"id":"9adcec45.df68b8","type":"template","z":"4aabf063.91cbe","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"200\" height=\"200\" src=  \"data:image/png;base64,{{{payload}}}\" alt='Image not found'  />\n\n","output":"str","x":440,"y":1000,"wires":[["69cdb53b.4ce4d4"]]},{"id":"69cdb53b.4ce4d4","type":"ui_template","z":"4aabf063.91cbe","group":"d8596899.c56458","name":"Show QR for VC","order":13,"width":4,"height":4,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":600,"y":1000,"wires":[[]]},{"id":"7379ae15.5d945","type":"exec","z":"4aabf063.91cbe","command":"/usr/local/bin/qr","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":240,"y":1020,"wires":[["8246ea68.bf3118"],[],[]]},{"id":"96e43185.de128","type":"link in","z":"4aabf063.91cbe","name":"","links":["d0cf5b6c.7e7fd8"],"x":15,"y":980,"wires":[["1b56927d.53d526","c57c7acd.f005e8"]]},{"id":"1b56927d.53d526","type":"ui_text","z":"4aabf063.91cbe","group":"d8596899.c56458","order":9,"width":4,"height":1,"name":"","label":"Verifiable Credential:","format":"","layout":"row-left","x":190,"y":980,"wires":[]},{"id":"c57c7acd.f005e8","type":"function","z":"4aabf063.91cbe","name":"","func":"DiD = msg.payload\nurl = \"https://explorer.iota.org/mainnet/transaction/\"\nmsg.payload = url+DiD\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":80,"y":1020,"wires":[["7379ae15.5d945"]]},{"id":"336413c4.b67514","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":9,"width":5,"height":1,"name":"","label":"Cost per data point: 1i","format":"","layout":"row-left","x":1220,"y":20,"wires":[]},{"id":"aa981df.834f96","type":"function","z":"4aabf063.91cbe","name":"","func":"var iotaBalance = global.get('balance')\n\nif (iotaBalance >0){\nmsg.label = \"Click to use purchase data.\"\n}\n\nif (iotaBalance <=0){\nmsg.label = \"No data available, please make a deposit first.\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":280,"wires":[["ea3907e0.913b58"]]},{"id":"2e6fa9ab.7e7e56","type":"link in","z":"4aabf063.91cbe","name":"","links":["8b9bf3c8.a8e39"],"x":25,"y":60,"wires":[["aa981df.834f96"]]},{"id":"823359a8.fc636","type":"inject","z":"b890319c.10daa","name":"deposit 5i test funds","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":670,"y":480,"wires":[["ca4cb7a7.74637"]]},{"id":"ca4cb7a7.74637","type":"function","z":"b890319c.10daa","name":"","func":"global.set('balance',5)\nmsg.payload = 5\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":480,"wires":[["17408391.12e6f4"]]},{"id":"9456e2e4.115ff","type":"comment","z":"b890319c.10daa","name":"Some test and debug nodes","info":"\nRequires an external QR-code generator\n\nInstall Python packages `qrcode`\n\n```\n\npip3 install qrcode\n```\n\nUsage: `qr \"Some text\" > test.png`\nUsage: `qr \"Some text\"`\n\n+ https://pypi.org/project/PyQRCode/","x":680,"y":420,"wires":[]}]
