Node-Red-Flows-Hackathon.json
[{"id":"b890319c.10daa","type":"tab","label":"Wallet","disabled":false,"info":""},{"id":"4aabf063.91cbe","type":"tab","label":"Streams - Keepy - UI","disabled":false,"info":""},{"id":"9178a4d0.d91c78","type":"tab","label":"Streams Publish","disabled":false,"info":""},{"id":"8c4cb5b7.9b6ae","type":"tab","label":"Modbus Data Read","disabled":false,"info":""},{"id":"abd9eace.fc7508","type":"ui_tab","name":"Data Dashboard","icon":"devices","order":2,"disabled":false,"hidden":false},{"id":"1cddf58f.bf33d2","type":"ui_group","name":"Private Sensor Data (For Sale)","tab":"abd9eace.fc7508","order":1,"disp":true,"width":"14","collapse":false},{"id":"a77773dd.5bd88","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#4e6d6f","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#4e6d6f","edited":true},"page-titlebar-backgroundColor":{"value":"#4e6d6f","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6f979a","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4e6d6f","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cc49b2cd.3f15c","type":"iota-server","host":"https://node1.rosipay.net","port":"443"},{"id":"c48504c7.a055a","type":"ui_tab","name":"Deposit Wallet","icon":"account_balance_wallet","order":3,"disabled":false,"hidden":false},{"id":"479ba4cf.5a82f4","type":"ui_group","name":"","tab":"c48504c7.a055a","order":1,"disp":true,"width":"12","collapse":false},{"id":"812ca238.a14cb","type":"ui_group","name":"History","tab":"abd9eace.fc7508","order":2,"disp":true,"width":"14","collapse":false},{"id":"d8596899.c56458","type":"ui_group","name":"Public Sensor Information","tab":"4ff60e8a.472428","order":1,"disp":true,"width":"14","collapse":false},{"id":"8c8a1a8b.ffcbc","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":1,"width":5,"height":1},{"id":"7dc6bfe0.de9c38","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":3,"width":2,"height":1},{"id":"a6f95011.3b8b5","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":7,"width":4,"height":1},{"id":"3bbbb431.d28a04","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":9,"width":2,"height":1},{"id":"9e55eba9.b525d","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":10,"width":4,"height":1},{"id":"7be0d9c5.196bd8","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":11,"width":2,"height":1},{"id":"3183258b.b94bca","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":12,"width":4,"height":1},{"id":"9538a1fe.a7a748","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":13,"width":2,"height":1},{"id":"30eef561.ec4082","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":14,"width":4,"height":1},{"id":"99b51332.a5609","type":"ui_spacer","name":"spacer","group":"479ba4cf.5a82f4","order":15,"width":2,"height":1},{"id":"4ff60e8a.472428","type":"ui_tab","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"1b830378.0007a5","type":"ui_group","name":"Playground","tab":"","order":1,"disp":true,"width":14,"collapse":false},{"id":"c9cfc536.6b8638","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":1,"width":5,"height":1},{"id":"e81e2d33.99fea8","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":3,"width":5,"height":1},{"id":"b2e91824.2173a8","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":4,"width":5,"height":1},{"id":"21c9e1db.611d2e","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":6,"width":5,"height":1},{"id":"7f7b8b5f.bd360c","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":7,"width":5,"height":1},{"id":"6f35881d.50e048","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":9,"width":5,"height":1},{"id":"9c9b7bdc.503a38","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":10,"width":5,"height":1},{"id":"5e708064.16f488","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":12,"width":5,"height":1},{"id":"cf302bce.a05f","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":13,"width":5,"height":1},{"id":"bbce6d59.5be2e","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":15,"width":5,"height":1},{"id":"d3796f27.f6aad8","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":16,"width":5,"height":1},{"id":"9225e943.0bc5a","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":18,"width":5,"height":1},{"id":"51f4a416.6adfec","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":19,"width":14,"height":1},{"id":"a0481cd8.924e5","type":"ui_spacer","name":"spacer","group":"1b830378.0007a5","order":21,"width":14,"height":1},{"id":"e4a65aef.a4a218","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":2,"width":6,"height":1},{"id":"5a3391e0.512ff","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":4,"width":6,"height":1},{"id":"ef2540b2.26992","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":5,"width":14,"height":1},{"id":"65de7f16.0ffb38","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":6,"width":14,"height":1},{"id":"e19b308e.2591d8","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":10,"width":2,"height":1},{"id":"30adf828.94378","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":14,"width":2,"height":1},{"id":"767d6ea.b35d49","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":15,"width":2,"height":1},{"id":"e37e054c.eee07","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":16,"width":2,"height":1},{"id":"cfb90e53.0c8e38","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":17,"width":2,"height":1},{"id":"bda6d2c7.114b58","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":2,"width":2,"height":1},{"id":"ddbb359b.652f6","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":4,"width":9,"height":1},{"id":"7c249a60.91b87c","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":6,"width":14,"height":1},{"id":"d99c085d.54727","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":7,"width":5,"height":1},{"id":"6dce0d0f.e83cac","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":9,"width":6,"height":1},{"id":"856c15d0.a65ac8","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":10,"width":4,"height":1},{"id":"8e761e57.a8a3f","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":12,"width":5,"height":1},{"id":"23387f7c.57f148","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":13,"width":3,"height":1},{"id":"41c67fe7.02c988","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":15,"width":4,"height":1},{"id":"dcc4f61a.1880d8","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":16,"width":14,"height":1},{"id":"8ece3630.5526a8","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":19,"width":6,"height":1},{"id":"c69332f6.ea443","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":20,"width":6,"height":1},{"id":"d056570d.76e36","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":21,"width":6,"height":1},{"id":"6b4ce441.620e3c","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":24,"width":6,"height":1},{"id":"13765b16.9e5cb5","type":"ui_spacer","name":"spacer","group":"1cddf58f.bf33d2","order":27,"width":6,"height":1},{"id":"8f1387bf.20118","type":"iota-server","host":"https://nodes.thetangle.org","port":"443"},{"id":"bd0d9e8b.5de8e8","type":"modbus-client","name":"ModbusServer1","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.101","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"15000","reconnectOnTimeout":false,"reconnectTimeout":"5000","parallelUnitIdsAllowed":true},{"id":"2bd28d6b.5348fa","type":"exec","z":"b890319c.10daa","command":"/usr/local/bin/qr","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":420,"wires":[["89e3d967.e8a498"],[],[]]},{"id":"89e3d967.e8a498","type":"base64","z":"b890319c.10daa","name":"","action":"str","property":"payload","x":700,"y":420,"wires":[["eab34300.f22c6"]]},{"id":"eab34300.f22c6","type":"template","z":"b890319c.10daa","name":"prepare image","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"200\" height=\"200\" src=  \"data:image/png;base64,{{{payload}}}\" alt='Image not found'  />\n\n","output":"str","x":880,"y":420,"wires":[["75eb856e.a24fc4"]]},{"id":"c433ee68.4033e","type":"comment","z":"b890319c.10daa","name":"Generate QR code Image for deposit address","info":"\nRequires an external QR-code generator\n\nInstall Python packages `qrcode`\n\n```\n\npip3 install qrcode\n```\n\nUsage: `qr \"Some text\" > test.png`\nUsage: `qr \"Some text\"`\n\n+ https://pypi.org/project/PyQRCode/","x":190,"y":300,"wires":[]},{"id":"e57402dd.0d1768","type":"iotasearch","z":"b890319c.10daa","iotaNode":"8f1387bf.20118","iotaValue":"","iotaSelect":"addresses","name":"Query the Tangle","x":390,"y":200,"wires":[["61d77fa.355b38"]]},{"id":"61d77fa.355b38","type":"function","z":"b890319c.10daa","name":"Results from Tangle","func":"//read the number of transactions on the address and pull the last one\ntxCount = msg.payload.length\nlastTx = txCount - 1\n\n//msg = {payload:msg.payload[0].value};\n\n\nprevCount = global.get('txCount')\nif (txCount < prevCount){\nmsg = {payload:msg.payload[lastTx].value};\nglobal.set('balance',msg.payload)\n}\n\nif (txCount == prevCount){\nmsg.payload = 0;\nglobal.set('balance',msg.payload)\n}\n\ntxcount = msg.payload.length\nglobal.set('txCount',txCount)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":200,"wires":[["b38a4261.b32dd","40fdd34.db9a02c","17408391.12e6f4"]]},{"id":"b38a4261.b32dd","type":"debug","z":"b890319c.10daa","name":"iotaBalance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":180,"wires":[]},{"id":"75eb856e.a24fc4","type":"ui_template","z":"b890319c.10daa","group":"479ba4cf.5a82f4","name":"Show QR Code on Dashboard","order":8,"width":6,"height":4,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1050,"y":360,"wires":[[]]},{"id":"40fdd34.db9a02c","type":"ui_text","z":"b890319c.10daa","group":"479ba4cf.5a82f4","order":5,"width":0,"height":0,"name":"","label":"IOTA Balance:","format":"{{msg.payload}}i","layout":"row-spread","x":1020,"y":300,"wires":[]},{"id":"a16ed857.9b723","type":"ui_button","z":"b890319c.10daa","name":"","group":"479ba4cf.5a82f4","order":4,"width":0,"height":0,"passthru":true,"label":"Click to refresh balance","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CWJPDQ9DTDWGWGQGOWLPBZEHTRDEGPIHQFPGMQPEUNWOSQKDARPC9EQMKREND9TYLPFTDFFDOKAGIIQGCYYZHLYYZB","payloadType":"str","topic":"","x":150,"y":200,"wires":[["e57402dd.0d1768"]]},{"id":"f94bd55.9c05728","type":"inject","z":"9178a4d0.d91c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pH","payload":"7.1","payloadType":"str","x":170,"y":500,"wires":[["aadf61ba.6371c"]]},{"id":"ca7d9c3f.697b1","type":"inject","z":"9178a4d0.d91c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Chlorine","payload":"35.9","payloadType":"str","x":190,"y":540,"wires":[["aadf61ba.6371c"]]},{"id":"aadf61ba.6371c","type":"join","z":"9178a4d0.d91c78","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":430,"y":520,"wires":[["1ea6031a.d52a4d"]]},{"id":"1ea6031a.d52a4d","type":"json","z":"9178a4d0.d91c78","name":"","property":"payload","action":"str","pretty":false,"x":550,"y":520,"wires":[["59f8d65c.193fb8"]]},{"id":"eaa677dd.e3718","type":"debug","z":"9178a4d0.d91c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":360,"wires":[]},{"id":"59f8d65c.193fb8","type":"encryptor","z":"9178a4d0.d91c78","name":"encrypt","cryptoPassword":"i2tHackathon","x":680,"y":520,"wires":[["e4753393.8e82f"]]},{"id":"e4753393.8e82f","type":"function","z":"9178a4d0.d91c78","name":"store private","func":"var val = msg.payload\nglobal.set('private',val)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":520,"wires":[[]]},{"id":"6aeceaed.1833b4","type":"exec","z":"9178a4d0.d91c78","command":"curl --location --request POST '0.0.0.0:3002/messages' --header 'Content-Type: application/json' --data-raw ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"POST STREAMS","x":830,"y":400,"wires":[["eaa677dd.e3718"],[],["b1791e26.01375"]]},{"id":"38c4f259.f1114e","type":"exec","z":"4aabf063.91cbe","command":"curl --location --request GET ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read STREAMS","x":560,"y":220,"wires":[["ac0f2002.aff7","4f162b80.a75d04"],[],["afa60c59.ffcd38","4f162b80.a75d04"]]},{"id":"ac0f2002.aff7","type":"json","z":"4aabf063.91cbe","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":200,"wires":[["913d9ab0.049fc","c6c88f33.f3c298","4f162b80.a75d04"]]},{"id":"9f869c2a.e2e1c","type":"inject","z":"9178a4d0.d91c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pH Health","payload":"FAIL","payloadType":"str","x":200,"y":580,"wires":[["aadf61ba.6371c"]]},{"id":"31ea9817.92a4d","type":"inject","z":"9178a4d0.d91c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Cl2 Health","payload":"OK","payloadType":"str","x":190,"y":620,"wires":[["aadf61ba.6371c"]]},{"id":"76a6dc05.c22c54","type":"inject","z":"9178a4d0.d91c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pH Last Cal","payload":"2020-07-08","payloadType":"str","x":220,"y":660,"wires":[["aadf61ba.6371c"]]},{"id":"1fa1855d.6fbf6b","type":"inject","z":"9178a4d0.d91c78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Cl2 Last Cal","payload":"2020-10-10","payloadType":"str","x":230,"y":700,"wires":[["aadf61ba.6371c"]]},{"id":"e830c67e.960d78","type":"function","z":"9178a4d0.d91c78","name":"","func":"//Read the private and public data from the stored global memory\nvar publicdata = global.get('public')\nvar privatedata = global.get('private')\n\n//add the public and private data into I2T Gateway's expected format\nmsg.payload = \"'\"+'{ \"iot2tangle\": [{ \"sensor\": \"Sensor Data\", \"data\": [ '+publicdata+' ] }, { \"sensor\": \"Encrypted Data\", \"data\": [ '+'\"'+privatedata+'\"'+'] } ], \"device\": \"DEVICE_ID_1\", \"timestamp\": 0 }'+\"'\"\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":400,"wires":[["6aeceaed.1833b4"]]},{"id":"a0069832.fadab8","type":"function","z":"4aabf063.91cbe","name":"Read Private Data","func":"var data = [];\n\nfor (i = 0; i< msg.payload.length; i++) {\ndata.push(msg.payload[i].message.iot2tangle[1].data[0])\n}\nmsg.payload = data\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":520,"wires":[["4b920d97.0c5814"]]},{"id":"2e826440.a3344c","type":"function","z":"4aabf063.91cbe","name":"Extract Public data object","func":"\nmsg = {payload:msg.payload[0].message.iot2tangle[0].data[0]}\n\nmsg1 = {payload:msg.payload[\"timestamp\"]}\nmsg2 = {payload:msg.payload[\"SensorType\"]}\nmsg3 = {payload:msg.payload[\"DiD\"]}\nmsg4 = {payload:msg.payload[\"GPS\"]}\n\n\n\nreturn [msg1,msg2,msg3,msg4];\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":970,"y":420,"wires":[["e4d6d78c.78e5a8"],["720876aa.6df758"],["d0cf5b6c.7e7fd8"],["6ce6906c.bf5b3"]]},{"id":"a0988a38.d08ed","type":"ui_gauge","z":"4aabf063.91cbe","name":"","group":"1cddf58f.bf33d2","order":17,"width":4,"height":3,"gtype":"gage","title":"pH Sensor","label":"pH","format":"{{msg.payload}}","min":"4","max":"10","colors":["#000000","#0fff00","#ef0f0f"],"seg1":"","seg2":"","x":1390,"y":800,"wires":[]},{"id":"e1340a94.995c78","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":22,"width":4,"height":1,"name":"pH Health","label":"pH Health:","format":"{{msg.payload}}","layout":"row-center","x":1380,"y":880,"wires":[]},{"id":"707ffce4.66f654","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":23,"width":4,"height":1,"name":"Chlorine Health","label":"Cl2 Health:","format":"{{msg.payload}}","layout":"row-center","x":1400,"y":920,"wires":[]},{"id":"273e64e2.074e0c","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":25,"width":4,"height":1,"name":"pH Last Cal","label":"pH Last Cal.","format":"{{msg.payload}}","layout":"row-center","x":1390,"y":960,"wires":[]},{"id":"cbdc7ae0.4f6df","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":26,"width":4,"height":1,"name":"","label":"Cl2 Last Cal.","format":"{{msg.payload}}","layout":"row-center","x":1390,"y":1000,"wires":[]},{"id":"f512a885.1e11e8","type":"ui_gauge","z":"4aabf063.91cbe","name":"","group":"1cddf58f.bf33d2","order":18,"width":4,"height":3,"gtype":"gage","title":"Chlorine Sensor","label":"ppm","format":"{{value}}","min":"0","max":"50","colors":["#05fff8","#0fff00","#ff0000"],"seg1":"","seg2":"","x":1400,"y":840,"wires":[]},{"id":"c03bc348.62fc5","type":"inject","z":"9178a4d0.d91c78","name":"DID","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DiD","payload":"BBEWZXZFMXNEGFHOANQFYIXCPZTQCOCPYLXPEWWTJLFWMXQXNRIZFABGV9WGJWOFNIETPEOYKQEF99999","payloadType":"str","x":170,"y":260,"wires":[["65b0001c.f82b"]]},{"id":"384de077.b735d8","type":"comment","z":"b890319c.10daa","name":"Reads IOTA balance from Address injected","info":"","x":700,"y":140,"wires":[]},{"id":"dffb7340.dc1348","type":"function","z":"4aabf063.91cbe","name":"Extract Private data object","func":"msg = msg.payload\n\nmsg1 = {payload:msg[\"pH\"]}\nmsg2 = {payload:msg[\"Chlorine\"]}\nmsg3 = {payload:msg[\"pH Health\"]}\nmsg4 = {payload:msg[\"Cl2 Health\"]}\nmsg5 = {payload:msg[\"pH Last Cal\"]}\nmsg6 = {payload:msg[\"Cl2 Last Cal\"]}\n\n\nreturn [msg1,msg2,msg3,msg4,msg5,msg6];\n\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":1150,"y":880,"wires":[["a0988a38.d08ed"],["f512a885.1e11e8"],["e1340a94.995c78"],["707ffce4.66f654"],["273e64e2.074e0c"],["cbdc7ae0.4f6df"]]},{"id":"76a9ee58.f70d68","type":"decryptor","z":"4aabf063.91cbe","name":"","cryptoPassword":"i2tHackathon","x":860,"y":760,"wires":[["75888fac.ff4738"]]},{"id":"7ca3b463.42856c","type":"function","z":"4aabf063.91cbe","name":"Read Private Data","func":"msg = {payload:msg.payload[0].message.iot2tangle[1].data[0]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":720,"wires":[["76a9ee58.f70d68"]]},{"id":"75888fac.ff4738","type":"json","z":"4aabf063.91cbe","name":"","property":"payload","action":"obj","pretty":false,"x":990,"y":760,"wires":[["dffb7340.dc1348"]]},{"id":"913d9ab0.049fc","type":"switch","z":"4aabf063.91cbe","name":"1= Private 0=Public Data","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":520,"wires":[["2e826440.a3344c"],["a0069832.fadab8","7ca3b463.42856c"]]},{"id":"c50f8a0c.85e348","type":"inject","z":"4aabf063.91cbe","name":"clear table","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"jsonata","x":1200,"y":620,"wires":[["ded05a5a.532e"]]},{"id":"4b920d97.0c5814","type":"split","z":"4aabf063.91cbe","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1030,"y":520,"wires":[["b6c2ca5c.1bdd98"]]},{"id":"b6c2ca5c.1bdd98","type":"decryptor","z":"4aabf063.91cbe","name":"","cryptoPassword":"i2tHackathon","x":1160,"y":520,"wires":[["ea6a5109.7d769"]]},{"id":"a05e9cb7.55da7","type":"join","z":"4aabf063.91cbe","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":560,"wires":[["ded05a5a.532e","dccf9aa9.30c928"]]},{"id":"ea6a5109.7d769","type":"json","z":"4aabf063.91cbe","name":"","property":"payload","action":"obj","pretty":false,"x":1010,"y":560,"wires":[["a05e9cb7.55da7"]]},{"id":"2de45d8a.78ddaa","type":"inject","z":"b890319c.10daa","name":"get balance","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CWJPDQ9DTDWGWGQGOWLPBZEHTRDEGPIHQFPGMQPEUNWOSQKDARPC9EQMKREND9TYLPFTDFFDOKAGIIQGCYYZHLYYZB","payloadType":"str","x":170,"y":160,"wires":[["e57402dd.0d1768"]]},{"id":"96a8f103.adac4","type":"inject","z":"4aabf063.91cbe","name":"Get Last x based on deposit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"0.0.0.0:3002/messages?limit=1","payloadType":"str","x":200,"y":140,"wires":[["38c4f259.f1114e"]]},{"id":"a51a6cbe.2d9fa","type":"function","z":"4aabf063.91cbe","name":"","func":"var iotaBalance = global.get('balance')\nif (iotaBalance >0){\nmsg.payload = msg.payload + iotaBalance.toString()\nreturn msg;}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[["38c4f259.f1114e"]]},{"id":"17408391.12e6f4","type":"ui_text","z":"b890319c.10daa","group":"1cddf58f.bf33d2","order":8,"width":3,"height":1,"name":"","label":"IOTA Balance:","format":"{{msg.payload}}i","layout":"row-left","x":1020,"y":240,"wires":[]},{"id":"59c54676.684638","type":"ui_media","z":"b890319c.10daa","group":"479ba4cf.5a82f4","name":"Show IOTA Logo","width":5,"height":1,"order":2,"category":"pic","file":"IOTA Logo.png","layout":"adjust","showcontrols":false,"loop":false,"onstart":false,"scope":"local","tooltip":"","x":1030,"y":180,"wires":[[]]},{"id":"b1791e26.01375","type":"debug","z":"9178a4d0.d91c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":440,"wires":[]},{"id":"afa60c59.ffcd38","type":"function","z":"4aabf063.91cbe","name":"Keepy Error Codes","func":"code = msg.payload.code\nif (code==7){status = \"Error, Keepy Unavailable\"}\nif (code==0){status = \"OK\"}\n\nmsg.payload = status\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":280,"wires":[["39219681.66a77a"]]},{"id":"39219681.66a77a","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":3,"width":5,"height":1,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-left","x":1380,"y":280,"wires":[]},{"id":"c6c88f33.f3c298","type":"function","z":"4aabf063.91cbe","name":"","func":"msg.payload = msg.payload.channelId\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":200,"wires":[["38d0e8b1.3c23a"]]},{"id":"c5ba3a2.689bbc8","type":"inject","z":"9178a4d0.d91c78","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"timestamp","payload":"","payloadType":"date","x":180,"y":180,"wires":[["65b0001c.f82b"]]},{"id":"d5a42790.cfb5d8","type":"inject","z":"9178a4d0.d91c78","name":"Sensor Type","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SensorType","payload":"Water Analyzer, pH, Cl2, Temp.","payloadType":"str","x":190,"y":220,"wires":[["65b0001c.f82b"]]},{"id":"65b0001c.f82b","type":"join","z":"9178a4d0.d91c78","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":240,"wires":[["9024bd1c.6bf79"]]},{"id":"9024bd1c.6bf79","type":"json","z":"9178a4d0.d91c78","name":"","property":"payload","action":"str","pretty":false,"x":610,"y":240,"wires":[["bd2155d.d986ba8"]]},{"id":"bd2155d.d986ba8","type":"function","z":"9178a4d0.d91c78","name":"store public","func":"var val = msg.payload\nglobal.set('public',val)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":240,"wires":[[]]},{"id":"eea30b39.762af8","type":"inject","z":"9178a4d0.d91c78","name":"Publish to Streams","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":400,"wires":[["e830c67e.960d78"]]},{"id":"720876aa.6df758","type":"ui_text","z":"4aabf063.91cbe","group":"d8596899.c56458","order":1,"width":8,"height":1,"name":"","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-left","x":1370,"y":400,"wires":[]},{"id":"501f4f94.af72","type":"ui_text","z":"4aabf063.91cbe","group":"d8596899.c56458","order":3,"width":8,"height":1,"name":"","label":"Last Datapoint:","format":"{{msg.payload}}","layout":"row-left","x":1380,"y":320,"wires":[]},{"id":"7c713400.a29884","type":"inject","z":"9178a4d0.d91c78","name":"GPS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"GPS","payload":"35.227085, -80.843124","payloadType":"str","x":170,"y":340,"wires":[["65b0001c.f82b"]]},{"id":"ea3907e0.913b58","type":"ui_button","z":"4aabf063.91cbe","name":"","group":"1cddf58f.bf33d2","order":14,"width":7,"height":1,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0.0.0.0:3002/messages?limit=","payloadType":"str","topic":"1","x":270,"y":220,"wires":[["a51a6cbe.2d9fa"]]},{"id":"df1d6781.ea21f","type":"link in","z":"b890319c.10daa","name":"","links":["4f0a1f3b.562358"],"x":35,"y":140,"wires":[["a16ed857.9b723"]]},{"id":"e4d6d78c.78e5a8","type":"function","z":"4aabf063.91cbe","name":"Unix to readable","func":"var d=new Date(msg.payload);\n\n\ntime = d.toLocaleString(\"en-US\", {timeZone: \"america/los_angeles\"});\n\n\n\nmsg.payload = time\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":340,"wires":[["501f4f94.af72","a58f842a.03c6e8"]]},{"id":"fb576c0c.30b8c","type":"ui_ui_control","z":"4aabf063.91cbe","name":"","events":"all","x":1200,"y":660,"wires":[["ded05a5a.532e"]]},{"id":"a3f76e86.deed4","type":"ui_ui_control","z":"b890319c.10daa","name":"","events":"all","x":60,"y":420,"wires":[["99922e38.78c158","6a4181c5.49b1c8"]]},{"id":"6a4181c5.49b1c8","type":"function","z":"b890319c.10daa","name":"generate QR code from address","func":"walletAddress = \"CWJPDQ9DTDWGWGQGOWLPBZEHTRDEGPIHQFPGMQPEUNWOSQKDARPC9EQMKREND9TYLPFTDFFDOKAGIIQGCYYZHLYYZB\"\nmsg.payload = walletAddress\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":420,"wires":[["2bd28d6b.5348fa"]]},{"id":"2aa14d6a.77174a","type":"exec","z":"4aabf063.91cbe","command":"/usr/local/bin/qr","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":240,"y":780,"wires":[["47f8bfb6.db86a"],[],[]]},{"id":"47f8bfb6.db86a","type":"base64","z":"4aabf063.91cbe","name":"","action":"str","property":"payload","x":260,"y":780,"wires":[["db0dbd96.c9cc08"]]},{"id":"db0dbd96.c9cc08","type":"template","z":"4aabf063.91cbe","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"200\" height=\"200\" src=  \"data:image/png;base64,{{{payload}}}\" alt='Image not found'  />\n\n","output":"str","x":380,"y":780,"wires":[["749f8613.91bdc8"]]},{"id":"749f8613.91bdc8","type":"ui_template","z":"4aabf063.91cbe","group":"d8596899.c56458","name":"Show QR for Streams Ch, ID","order":11,"width":4,"height":4,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":580,"y":780,"wires":[[]]},{"id":"90239bb0.b5c468","type":"ui_ui_control","z":"4aabf063.91cbe","name":"","events":"all","x":100,"y":280,"wires":[["5d2e0605.8a553","aa981df.834f96"]]},{"id":"7bffb83f.61a0a","type":"base64","z":"4aabf063.91cbe","name":"","action":"str","property":"payload","x":320,"y":880,"wires":[["a1c1a5a2.af6f"]]},{"id":"a1c1a5a2.af6f","type":"template","z":"4aabf063.91cbe","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"200\" height=\"200\" src=  \"data:image/png;base64,{{{payload}}}\" alt='Image not found'  />\n\n","output":"str","x":380,"y":880,"wires":[["c5651de8.0acaa8"]]},{"id":"c5651de8.0acaa8","type":"ui_template","z":"4aabf063.91cbe","group":"d8596899.c56458","name":"Show QR for DiD","order":12,"width":4,"height":4,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":570,"y":880,"wires":[[]]},{"id":"d3cc8f4b.b3efd","type":"exec","z":"4aabf063.91cbe","command":"/usr/local/bin/qr","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":220,"y":880,"wires":[["7bffb83f.61a0a"],[],[]]},{"id":"d0cf5b6c.7e7fd8","type":"link out","z":"4aabf063.91cbe","name":"to QR","links":["379cf1a.1de390e","96e43185.de128"],"x":1115,"y":440,"wires":[]},{"id":"379cf1a.1de390e","type":"link in","z":"4aabf063.91cbe","name":"","links":["d0cf5b6c.7e7fd8"],"x":35,"y":880,"wires":[["72d06804.ca5e88","b896a8b5.ec1ef"]]},{"id":"38d0e8b1.3c23a","type":"link out","z":"4aabf063.91cbe","name":"to  Streams iD QR","links":["bff29369.bbfbf"],"x":1055,"y":200,"wires":[]},{"id":"bff29369.bbfbf","type":"link in","z":"4aabf063.91cbe","name":"","links":["38d0e8b1.3c23a"],"x":55,"y":740,"wires":[["602d8f78.c38b08","43fb01b9.b98ed"]]},{"id":"72d06804.ca5e88","type":"ui_text","z":"4aabf063.91cbe","group":"d8596899.c56458","order":8,"width":4,"height":1,"name":"","label":"DiD Document:","format":"","layout":"row-left","x":100,"y":840,"wires":[]},{"id":"602d8f78.c38b08","type":"ui_text","z":"4aabf063.91cbe","group":"d8596899.c56458","order":7,"width":4,"height":1,"name":"","label":"Streams Ch. ID:","format":"","layout":"row-left","x":120,"y":700,"wires":[]},{"id":"43fb01b9.b98ed","type":"function","z":"4aabf063.91cbe","name":"","func":"channelId = msg.payload\nurl = \"https://explorer.iot2tangle.io/channel/\"\nlink = url + channelId\nmsg.payload = link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":80,"y":780,"wires":[["2aa14d6a.77174a"]]},{"id":"b896a8b5.ec1ef","type":"function","z":"4aabf063.91cbe","name":"","func":"DiD = msg.payload\nurl = \"https://explorer.iota.org/mainnet/transaction/\"\nmsg.payload = url+DiD\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":880,"wires":[["d3cc8f4b.b3efd"]]},{"id":"ded05a5a.532e","type":"ui_table","z":"4aabf063.91cbe","group":"812ca238.a14cb","name":"","order":1,"width":14,"height":7,"columns":[],"outputs":0,"cts":false,"x":1370,"y":700,"wires":[]},{"id":"fb202ead.7d2c48","type":"inject","z":"9178a4d0.d91c78","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"timestamp","payload":"","payloadType":"date","x":180,"y":460,"wires":[["aadf61ba.6371c"]]},{"id":"4f162b80.a75d04","type":"debug","z":"4aabf063.91cbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":100,"wires":[]},{"id":"99922e38.78c158","type":"ui_text","z":"b890319c.10daa","group":"479ba4cf.5a82f4","order":6,"width":0,"height":0,"name":"","label":"IOTA Deposit Address:","format":"","layout":"row-center","x":200,"y":360,"wires":[]},{"id":"dccf9aa9.30c928","type":"function","z":"4aabf063.91cbe","name":"Consume balance","func":"global.set('balance',0)\nmsg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":560,"wires":[["8b9bf3c8.a8e39"]]},{"id":"5d2e0605.8a553","type":"function","z":"4aabf063.91cbe","name":"Get last streams tx","func":"msg.payload = '0.0.0.0:3002/messages?limit=1'\nmsg.topic = 0\nmsg.blank = 'n/a'\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":280,"wires":[["38c4f259.f1114e","75c46447.83b904","12815363.e4e81d"]]},{"id":"e74a97a1.dd28","type":"function","z":"4aabf063.91cbe","name":"clear private data","func":"// Clears all the data when you navigate away from the page\n// You will need to purchase again\n\nmsg.payload = {\"timestamp\":1606030801888,\n\"pH\":\"n/a\",\n\"Chlorine\":\"n/a\",\n\"pH Health\":\"n/a\",\n\"Cl2 Health\":\"n/a\",\n\"pH Last Cal\":\"n/a\",\n\"Cl2 Last Cal\":\"n/a\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":880,"wires":[["dffb7340.dc1348"]]},{"id":"943a0ea.1c499f","type":"function","z":"4aabf063.91cbe","name":"Clears Table","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":720,"wires":[["ded05a5a.532e"]]},{"id":"8b9bf3c8.a8e39","type":"link out","z":"4aabf063.91cbe","name":"reset balance","links":["3de42f7e.51cc2","2e6fa9ab.7e7e56"],"x":1415,"y":560,"wires":[]},{"id":"3de42f7e.51cc2","type":"link in","z":"b890319c.10daa","name":"","links":["8b9bf3c8.a8e39"],"x":855,"y":100,"wires":[["17408391.12e6f4","40fdd34.db9a02c"]]},{"id":"a58f842a.03c6e8","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":1,"width":7,"height":1,"name":"","label":"Last Datapoint:","format":"{{msg.payload}}","layout":"row-left","x":1380,"y":360,"wires":[]},{"id":"d0382a69.fa684","type":"inject","z":"b890319c.10daa","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":530,"y":640,"wires":[["f9adc2cd.1a8638"]]},{"id":"f9adc2cd.1a8638","type":"function","z":"b890319c.10daa","name":"use for testing to reset","func":"txCount = global.get('txCount')\nnewcount = txCount +1\nglobal.set('txCount',newcount)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":640,"wires":[["f4fafa9a.df5548"]]},{"id":"f4fafa9a.df5548","type":"debug","z":"b890319c.10daa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":640,"wires":[]},{"id":"d2871186.71381","type":"inject","z":"b890319c.10daa","name":"Read balance of last deposit address","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":680,"wires":[["82616722.04ffc"]]},{"id":"82616722.04ffc","type":"function","z":"b890319c.10daa","name":"","func":"msg.payload = global.get('balance')\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":680,"wires":[["ec4dffe6.067768"]]},{"id":"ec4dffe6.067768","type":"debug","z":"b890319c.10daa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":680,"wires":[]},{"id":"6b17da1c.54f04c","type":"inject","z":"9178a4d0.d91c78","name":"VC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"VC","payload":" {\"@context\":\"https://www.w3.org/2018/credentials/v1\",\"id\":\"https://iotsci.org/\",\"type\":[\"VerifiableCredential\",\"IoT Sensor Certification Institute\"],\"credentialSubject\":{\"id\":\"did:iota:main:5AoguwjpeBAocnNXv8754CJVmFsLJc3sR9AYYDD7onKq\",\"name\":\"IoT Sensor Certification Institute\",\"degree\":{\"name\":\"Certified Instrument\",\"type\":\"Trusted Instrument\"}},\"issuer\":\"did:iota:main:4btRzGFyuW4vsjgn6jQ8tQsqwGZVpLZ3NmWiWKJZerSX\",\"issuanceDate\":\"2020-11-22T22:01:24Z\",\"proof\":{\"type\":\"JcsEd25519Signature2020\",\"verificationMethod\":\"did:iota:main:4btRzGFyuW4vsjgn6jQ8tQsqwGZVpLZ3NmWiWKJZerSX#authentication\",\"created\":\"2020-11-22T22:01:24Z\",\"signatureValue\":\"dvQE2gXVRWaVAKeKcEekLS9fnCijfaZx2Y4q9dznhkNBFAaFKubnDMwZUH18dHjD9JMHFo4rjGNTLQcvQ3MC5ebs2RVaHNEmjHUvX7xqfumACgxiqrELh5xssUC1svtsm8Y\"}}","payloadType":"str","x":170,"y":300,"wires":[["65b0001c.f82b"]]},{"id":"8246ea68.bf3118","type":"base64","z":"4aabf063.91cbe","name":"","action":"str","property":"payload","x":300,"y":1000,"wires":[["9adcec45.df68b8"]]},{"id":"9adcec45.df68b8","type":"template","z":"4aabf063.91cbe","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"200\" height=\"200\" src=  \"data:image/png;base64,{{{payload}}}\" alt='Image not found'  />\n\n","output":"str","x":380,"y":1000,"wires":[["69cdb53b.4ce4d4"]]},{"id":"69cdb53b.4ce4d4","type":"ui_template","z":"4aabf063.91cbe","group":"d8596899.c56458","name":"Show QR for VC","order":13,"width":4,"height":4,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":1000,"wires":[[]]},{"id":"7379ae15.5d945","type":"exec","z":"4aabf063.91cbe","command":"/usr/local/bin/qr","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":200,"y":1000,"wires":[["8246ea68.bf3118"],[],[]]},{"id":"96e43185.de128","type":"link in","z":"4aabf063.91cbe","name":"","links":["d0cf5b6c.7e7fd8"],"x":15,"y":1000,"wires":[["1b56927d.53d526","c57c7acd.f005e8"]]},{"id":"1b56927d.53d526","type":"ui_text","z":"4aabf063.91cbe","group":"d8596899.c56458","order":9,"width":4,"height":1,"name":"","label":"Verifiable Credential:","format":"","layout":"row-left","x":120,"y":960,"wires":[]},{"id":"c57c7acd.f005e8","type":"function","z":"4aabf063.91cbe","name":"","func":"DiD = msg.payload\nurl = \"https://explorer.iota.org/mainnet/transaction/\"\nmsg.payload = url+DiD\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":80,"y":1000,"wires":[["7379ae15.5d945"]]},{"id":"336413c4.b67514","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":11,"width":5,"height":1,"name":"","label":"Cost per data point: 1i","format":"","layout":"row-left","x":1420,"y":760,"wires":[]},{"id":"aa981df.834f96","type":"function","z":"4aabf063.91cbe","name":"","func":"var iotaBalance = global.get('balance')\n\nif (iotaBalance >0){\nmsg.label = \"Click to use purchase data.\"\n}\n\nif (iotaBalance <=0){\nmsg.label = \"No data available, please make a deposit first.\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":220,"wires":[["ea3907e0.913b58"]]},{"id":"2e6fa9ab.7e7e56","type":"link in","z":"4aabf063.91cbe","name":"","links":["8b9bf3c8.a8e39"],"x":35,"y":220,"wires":[["aa981df.834f96"]]},{"id":"823359a8.fc636","type":"inject","z":"b890319c.10daa","name":"deposit 5i test funds","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":570,"y":600,"wires":[["ca4cb7a7.74637"]]},{"id":"ca4cb7a7.74637","type":"function","z":"b890319c.10daa","name":"","func":"global.set('balance',5)\nmsg.payload = 5\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":600,"wires":[["17408391.12e6f4"]]},{"id":"9456e2e4.115ff","type":"comment","z":"b890319c.10daa","name":"Some test and debug nodes","info":"\nRequires an external QR-code generator\n\nInstall Python packages `qrcode`\n\n```\n\npip3 install qrcode\n```\n\nUsage: `qr \"Some text\" > test.png`\nUsage: `qr \"Some text\"`\n\n+ https://pypi.org/project/PyQRCode/","x":680,"y":500,"wires":[]},{"id":"3add9a44.3e964e","type":"comment","z":"4aabf063.91cbe","name":"GUI Components on Home Screen","info":"","x":1440,"y":240,"wires":[]},{"id":"7b3e0a96.b23754","type":"link in","z":"4aabf063.91cbe","name":"Clear table","links":["75c46447.83b904"],"x":1075,"y":720,"wires":[["943a0ea.1c499f"]]},{"id":"75c46447.83b904","type":"link out","z":"4aabf063.91cbe","name":"","links":["7b3e0a96.b23754"],"x":515,"y":280,"wires":[]},{"id":"76a41bd3.133174","type":"comment","z":"4aabf063.91cbe","name":"Public data for Home Screen, Private data on Purchase Dashboard","info":"The first array of data returned by Keepy is \"public\" data so not encrypted.\nIt can be viewed directly on the explorer.\nIs used for the Home screen\n\nThe second array of data returned by Keepy is \"Private\" data and encrypted.\n\"Private\" data is encripted before bublishing the data to the Tangle. It only gets decrypted on the dashboard after IOTA payment is received","x":400,"y":560,"wires":[]},{"id":"505e4561.1463ec","type":"link in","z":"4aabf063.91cbe","name":"Clear Priv Data","links":["12815363.e4e81d"],"x":775,"y":880,"wires":[["e74a97a1.dd28"]]},{"id":"12815363.e4e81d","type":"link out","z":"4aabf063.91cbe","name":"","links":["505e4561.1463ec"],"x":445,"y":360,"wires":[]},{"id":"4a976393.7a3084","type":"comment","z":"4aabf063.91cbe","name":"GUI Components for Dashboard","info":"","x":1450,"y":660,"wires":[]},{"id":"8a90e297.002c4","type":"comment","z":"4aabf063.91cbe","name":"QR Codes for the home screen","info":"The first array of data returned by Keepy is \"public\" data so not encrypted.\nIt can be viewed directly on the explorer.\nIs used for the Home screen\n\nThe second array of data returned by Keepy is \"Private\" data and encrypted.\n\"Private\" data is encripted before bublishing the data to the Tangle. It only gets decrypted on the dashboard after IOTA payment is received","x":430,"y":720,"wires":[]},{"id":"69f3c7f.6ab5838","type":"comment","z":"b890319c.10daa","name":"Requirements: click to read","info":"Node-RED dependencies.\nGo to Manage Pallet and Install:\nnode-red-dashboard for the UI Dashboard\nnode-red-node-base64 to format the image\nnode-red-contrib-iota-lib for IOTA Nodes\n\nTo interact with with the The Tangle you will need to have install these packages\n1. https://github.com/iota-pay/iota-payment-module\n2. https://github.com/iot2tangle/Streams-http-gateway\n3. https://github.com/iot2tangle/Keepy\n\nTo query the IOTA Tangle you will need a wallet address to monitor for deposits (balance)\n\n\nUse Trinity and create a new dedicated wallet for this project copy the andress from the Receive menu\nPut that address into these nodes:\n-\"get balance\"\n-\"Click to refresh balance\"\n-\"generate QR code from address\"\n\n\n\n\n\n\n\n\nExternal dependencies:\n\nThe flow requires an external QR-code generator, like the qrcode Python package.\n\nInstall Python packages image and qrcode with\n\npip3 install image\npip3 install qrcode\n\ndetails here:\nhttps://flows.nodered.org/flow/f53bb131d112543169c66ddc05f33037","x":370,"y":120,"wires":[]},{"id":"8bc16ab2.995a6","type":"comment","z":"4aabf063.91cbe","name":"Requirements: click to read","info":"Node-RED dependencies.\nGo to Manage Pallet and Install:\nnode-red-contrib-cryptor for basic encrypt/decrypt\n\nTo interact with with the The Tangle you will need to have install these packages\n1. https://github.com/iota-pay/iota-payment-module\n2. https://github.com/iot2tangle/Streams-http-gateway\n3. https://github.com/iot2tangle/Keepy\n\nYou will then need the IP:PORT of the running Keepy service. This needs to be entered in the following nodes:\n1. \"Get Last x based on deposit\"\n2. \"Get last streams tx\"\n\n\nInstruction here:\n\nhttps://github.com/iot2tangle/Keepy\n\nand here:\n\nhttps://github.com/iot2tangle/Streams-http-gateway\n\n\n","x":490,"y":140,"wires":[]},{"id":"2232a018.2bc3b","type":"comment","z":"b890319c.10daa","name":"Some test and debug nodes","info":"\nRequires an external QR-code generator\n\nInstall Python packages `qrcode`\n\n```\n\npip3 install qrcode\n```\n\nUsage: `qr \"Some text\" > test.png`\nUsage: `qr \"Some text\"`\n\n+ https://pypi.org/project/PyQRCode/","x":660,"y":320,"wires":[]},{"id":"ab15b7e2.173ac8","type":"comment","z":"b890319c.10daa","name":"GUI Components on Wallet Screen","info":"","x":1080,"y":140,"wires":[]},{"id":"d7d60c9e.88d388","type":"comment","z":"9178a4d0.d91c78","name":"Requirements: click to read","info":"Node-RED dependencies.\nGo to Manage Pallet and Install:\nnode-red-contrib-cryptor for basic encrypt/decrypt\n\nTo interact with with the The Tangle you will need to have install these packages\n1. https://github.com/iota-pay/iota-payment-module\n2. https://github.com/iot2tangle/Streams-http-gateway\n3. https://github.com/iot2tangle/Keepy\n\nYou will then need the IP:PORT of the running Keepy service. This needs to be entered in the following nodes:\n1. \"POST STREAMS\"\n\n\nInstruction here:\n\nhttps://github.com/iot2tangle/Keepy\n\nand here:\n\nhttps://github.com/iot2tangle/Streams-http-gateway\n\n\n","x":570,"y":140,"wires":[]},{"id":"6ba11643.cfe6c8","type":"comment","z":"9178a4d0.d91c78","name":"Stores the basic sensor name etc in the public section of the message","info":"","x":1010,"y":200,"wires":[]},{"id":"7c6faeb0.3b3e6","type":"comment","z":"9178a4d0.d91c78","name":"Stores the sensor values in the private section of the message","info":"","x":1000,"y":580,"wires":[]},{"id":"4cbc6419.f6f90c","type":"comment","z":"9178a4d0.d91c78","name":"After private and public data has been captured, Click Publish to Steams","info":"Node-RED dependencies.\nGo to Manage Pallet and Install:\nnode-red-contrib-cryptor for basic encrypt/decrypt\n\nYou will need to have a running instance of\n1. Keepy\n2. Streams-http-gateway\n\nYou will then need the IP:PORT of the running Keepy service. This needs to be entered in the following nodes:\n1. \"POST STREAMS\"\n\n\nInstruction here:\n\nhttps://github.com/iot2tangle/Keepy\n\nand here:\n\nhttps://github.com/iot2tangle/Streams-http-gateway\n\n\n","x":670,"y":320,"wires":[]},{"id":"939ecf0e.6db9d","type":"inject","z":"b890319c.10daa","name":"Send Payment","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\t   \"data\":[\t       'DVPLSAMPJTJIIYQIAUFKQZPJGOWUHEZQMJ9JNJVUZXNJ9WQVVLVUJRQFXQSSZVKDTLDBLUCKHGTOGQCMDCXMYVNQQX',\t       1,\t       'Example message',\t       'TRYTETAG'\t   ]\t}","payloadType":"jsonata","x":300,"y":800,"wires":[["fd057031.a0faf8"]]},{"id":"2127be11.3b2bd2","type":"debug","z":"b890319c.10daa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":800,"wires":[]},{"id":"fd057031.a0faf8","type":"http request","z":"b890319c.10daa","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://0.0.0.0:3000/payout","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":800,"wires":[["2127be11.3b2bd2"]]},{"id":"a2167ce9.9aaa1","type":"http request","z":"b890319c.10daa","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://0.0.0.0:3000/payment","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":920,"wires":[["e41b064a.765f48"]]},{"id":"b6b32eb.3e53ad","type":"comment","z":"b890319c.10daa","name":"Send Payment to the some address","info":"","x":460,"y":760,"wires":[]},{"id":"963ac967.7f193","type":"inject","z":"b890319c.10daa","name":"Get deposit info","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":[33,\"test\"]}","payloadType":"json","x":260,"y":920,"wires":[["a2167ce9.9aaa1"]]},{"id":"b97b91b9.cbb718","type":"debug","z":"b890319c.10daa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.value","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":940,"wires":[]},{"id":"e41b064a.765f48","type":"json","z":"b890319c.10daa","name":"","property":"payload","action":"obj","pretty":false,"x":630,"y":920,"wires":[["b97b91b9.cbb718","707d4965.589968","8bcc451e.d2a8e","bff30330.996af8"]]},{"id":"707d4965.589968","type":"debug","z":"b890319c.10daa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":980,"wires":[]},{"id":"8bcc451e.d2a8e","type":"function","z":"b890319c.10daa","d":true,"name":"build QR code from address","func":"walletAddress = msg.payload.address\nmsg.payload = walletAddress\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":520,"wires":[["2bd28d6b.5348fa"]]},{"id":"bff30330.996af8","type":"debug","z":"b890319c.10daa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.address","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":900,"wires":[]},{"id":"9f65fa9e.bf936","type":"comment","z":"b890319c.10daa","name":"Generate new deposit address","info":"","x":450,"y":880,"wires":[]},{"id":"b1bff547.a5436","type":"comment","z":"4aabf063.91cbe","name":"Get data from Tangle using Streams","info":"\n\n","x":680,"y":60,"wires":[]},{"id":"6ba3d938.b11478","type":"comment","z":"9178a4d0.d91c78","name":"Send data to Tangle using Streams","info":"","x":620,"y":60,"wires":[]},{"id":"bf6cc21c.34f6e","type":"comment","z":"b890319c.10daa","name":"Manage human to machine and machine to human payments","info":"","x":620,"y":40,"wires":[]},{"id":"6ce6906c.bf5b3","type":"ui_text","z":"4aabf063.91cbe","group":"1cddf58f.bf33d2","order":5,"width":5,"height":1,"name":"","label":"GPS:","format":"{{msg.payload}}","layout":"row-left","x":1350,"y":440,"wires":[]},{"id":"22726747.5ab268","type":"function","z":"8c4cb5b7.9b6ae","name":"All data parse","func":"msg.payload = {\n    A1D : parseFloat((Number(msg.xx.V1D.value)*100).toFixed(2)),\n    A1S :Number(msg.xx.V1S.value),\n    AIU : Number(msg.xx.V1U.value),\n\n    A2D : parseFloat((Number(msg.xx.V2D.value)*100).toFixed(2)),\n    A2S :Number(msg.xx.V2S.value),\n    A2U : Number(msg.xx.V2U.value),\n    \n    A3D : parseFloat((Number(msg.xx.V3D.value)*100).toFixed(2)),\n    A3S :Number(msg.xx.V3S.value),\n    A3U : Number(msg.xx.V3U.value),\n\n    A4D : parseFloat((Number(msg.xx.V4D.value)*100).toFixed(2)),\n    A4S :Number(msg.xx.V4S.value),\n    A4U : Number(msg.xx.V4U.value),\n\n    A5D : parseFloat((Number(msg.xx.V5D.value)*100).toFixed(2)),\n    A5S :Number(msg.xx.V5S.value),\n    A5U : Number(msg.xx.V5U.value),\n\n    A6D : parseFloat((Number(msg.xx.V6D.value)*100).toFixed(2)),\n    A6S :Number(msg.xx.V6S.value),\n    A6U : Number(msg.xx.V6U.value),\n    \n    A7D : parseFloat((Number(msg.xx.V7D.value)*100).toFixed(2)),\n    A7S :Number(msg.xx.V7S.value),\n    A7U : Number(msg.xx.V7U.value),\n    \n    A8D : parseFloat((Number(msg.xx.V8D.value)*100).toFixed(2)),\n    A8S :Number(msg.xx.V8S.value),\n    A8U : Number(msg.xx.V8U.value),\n    \n    A9D : parseFloat((Number(msg.xx.V9D.value)*100).toFixed(2)),\n    A9S :Number(msg.xx.V9S.value),\n    A9U : Number(msg.xx.V9U.value),\n    \n    A10D : parseFloat((Number(msg.xx.V10D.value)*100).toFixed(2)),\n    A10S :Number(msg.xx.V10S.value),\n    A10U : Number(msg.xx.V10U.value),\n    \n    A11D : parseFloat((Number(msg.xx.V11D.value)*100).toFixed(2)),\n    A11S :Number(msg.xx.V11S.value),\n    A11U : Number(msg.xx.V11U.value),\n    \n    A12D : parseFloat((Number(msg.xx.V12D.value)*100).toFixed(2)),\n    A12S :Number(msg.xx.V12S.value),\n    A12U : Number(msg.xx.V12U.value)\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":724,"y":200,"wires":[["6aa42128.3f0558"]]},{"id":"16019336.ec6c25","type":"inject","z":"8c4cb5b7.9b6ae","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":204,"y":20,"wires":[["f0b7d9df.d3b8b"]]},{"id":"f0b7d9df.d3b8b","type":"function","z":"8c4cb5b7.9b6ae","name":"Read Probe Data","func":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 48 }\nreturn msg","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["6ac6db6d.4341bc"]]},{"id":"6ac6db6d.4341bc","type":"modbus-flex-getter","z":"8c4cb5b7.9b6ae","name":"","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"bd0d9e8b.5de8e8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":324,"y":260,"wires":[["a4970671.3534d8"],[]]},{"id":"6aa42128.3f0558","type":"link out","z":"8c4cb5b7.9b6ae","name":"","links":["8fbbf2d8.e11638"],"x":885,"y":200,"wires":[]},{"id":"8fbbf2d8.e11638","type":"link in","z":"9178a4d0.d91c78","name":"Streams Post","links":["6aa42128.3f0558"],"x":445,"y":460,"wires":[["e830c67e.960d78"]]},{"id":"a4970671.3534d8","type":"function","z":"8c4cb5b7.9b6ae","name":"Buffer Parser here","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":240,"wires":[["22726747.5ab268"]]}]